<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Android &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/android/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Como aumentar a visibilidade de um aplicativo</title>
		<link>http://devmaker.com.br/aso-visibilidade-do-app/</link>
		<comments>http://devmaker.com.br/aso-visibilidade-do-app/#respond</comments>
		<pubDate>Wed, 15 Aug 2018 17:49:48 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[App store]]></category>
		<category><![CDATA[ASO - App Store Optimization]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4512</guid>
		<description><![CDATA[<p>Imagem: Pixabay Segundo o Statista, há no mercado 3,8 milhões de aplicativos para Android e 2 milhões para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg" rel="attachment wp-att-4518"><img class="aligncenter size-large wp-image-4518" src="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg" alt="mobile-phone-1087845_1280" width="1024" height="724" srcset="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-300x212.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-768x543.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Imagem: Pixabay</h6>
<p>Segundo o <a href="https://www.statista.com/statistics/276623/number-of-apps-available-in-leading-app-stores/">Statista</a>, há no mercado <strong>3,8 milhões</strong> de aplicativos para Android e <strong>2 milhões</strong> para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua categoria. E é cada vez mais importante desenvolver estratégias para que o app possa ser descoberto pelo cliente nas lojas de apps, e que a descoberta se transforme em conversão: que o cliente baixe o app.</p>
<p>Para isso, fizemos um pequeno <strong>Manual de Sobrevivência na Selva</strong> dos aplicativos. Para ele poder ser descoberto pelo visitante na App Store ou no Google Play. Estratégias para que o app alcance uma alta taxa de downloads em sua categoria.  Em inglês, este processo é chamado de <strong><a href="https://neilpatel.com/blog/app-store-optimization/">ASO &#8212; App Store Optimization</a></strong>.</p>
<p>Um dado da <a href="https://www.storemaven.com/components-of-winning-aso-strategy/"><strong>consultoria Storemaven</strong></a>: a média de tempo que o usuário leva para tomar a decisão de baixar um aplicativo é de 3 a 6 segundos. E <a href="http://techcrunch.com/2013/04/17/forrester-app-discovery-report/">63% dos aplicativos</a> são descobertos pelo usuário quando ele já está na App Store ou no Google Play. Ou seja, a decisão de baixar o app vai depender sobretudo de três elementos ali na tela, naquele momento: o ícone do aplicativo, a sua descrição (que deve ser concisa e objetiva) e a sua boa avaliação pelos outros usuários.</p>
<p>O primeiro fator importante para o sucesso comercial de uma app é entender o cliente: o que o leva a baixar o aplicativo? Muitas vezes, os motivos da decisão de download são contraintuitivos. Por exemplo, os desenvolvedores do app <a href="https://inthemoment.io/"><strong>Moment</strong></a>, disponível para iOS, se deram conta que havia no mercado um segmento de pessoas dispostas a <a href="https://www.inc.com/jeremy-goldman/6-apps-to-stop-your-smartphone-addiction.html">se livrar do vício do smartphone</a>: não queriam mais passar boa parte do dia grudadas a ele. O app permite que o usuário defina limites diários de uso do celular, notificando quando o limite é ultrapassado. A primeira coisa que os criadores do <strong>Moment</strong> fizeram foi criar um ícone clean (e pacífico) ao app.</p>
<p>Uma estratégia eficiente de ASO vai além da <strong>otimização por palavras-chave</strong>. Para que a descoberta se torne conversão, é crucial descobrir quais os elementos criativos que atraíram o usuário e o levaram a baixar o app: as imagens, os vídeos, os selos e textinhos explicativos sobre o app na loja.</p>
<p>Para isso, é fundamental estudar a concorrência. Analise as avaliações que os usuários dão ao app dos concorrentes. Leia os comentários sobre ele. Identifique os recursos do app que mais atraem estes usuários. Identifique os anúncios que funcionam melhor. Por exemplo, a Storemaven identificou os elementos que geram mais impacto aos clientes Android e iPhone na decisão de baixar o aplicativo. O <strong>impacto do ícone</strong>, por exemplo, é maior entre os clientes do iPhone do que do Android: 18% dos usuários do iPhone na AppStore, segundo a pesquisa da Storemaven, dizem se guiar pelo belo visual do app na decisão de baixá-lo, contra a 11% dos usuários do Android no Google Play. Veja o <strong>infográfico</strong> da consultoria <strong><a href="https://downloads.intercomcdn.com/i/o/59211971/ed3726413e14551aebc0b8e4/StoreMaven_infographic_ASO_impact.png">aqui</a></strong>.</p>
<p>Por fim, lembre-se que a tela do smartphone é pequena. Não a polua com excesso de informação sobre o app. Isto vai confundir o visitante. São estas algumas das principais estratégias para aumentar o número de downloads do app na loja. E assim fazê-lo  se destacar na selva de aplicativos no mercado.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/aso-visibilidade-do-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Entenda as vantagens do app nativo sobre o híbrido</title>
		<link>http://devmaker.com.br/nativo_vs_hibrido/</link>
		<comments>http://devmaker.com.br/nativo_vs_hibrido/#respond</comments>
		<pubDate>Wed, 25 Jul 2018 15:35:38 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativo Híbrido]]></category>
		<category><![CDATA[Aplicativo Nativo]]></category>
		<category><![CDATA[iOs]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4455</guid>
		<description><![CDATA[<p>Imagem: Pixabay Todo mundo sabe que as pessoas adoram seus smartphones. E a principal razão desta afeição são os aplicativos que rodam neles. Por esta razão, nós na DevMaker investimos na qualidade...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/nativo_vs_hibrido/">Entenda as vantagens do app nativo sobre o híbrido</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280.jpg" rel="attachment wp-att-4458"><img class="aligncenter wp-image-4465 size-large" src="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-1024x682.jpg" alt="" width="1024" height="682" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-1024x682.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Imagem: Pixabay</h6>
<p>Todo mundo sabe que as pessoas adoram seus smartphones. E a principal razão desta afeição são os aplicativos que rodam neles. Por esta razão, nós na DevMaker investimos na qualidade no desenvolvimento de aplicativos mobile. Entre um desenvolvimento nativo ou híbrido, escolhemos desenvolver apps apenas de forma nativa. Você vai entender o porquê. (Ah, e já explicamos o que significa &#8220;nativo&#8221; e &#8220;híbrido&#8221;).</p>
<p>Pois bem, para começar, vamos dar uma breve explicação sobre os dois tipos de apps.</p>
<p>Aplicativos nativos são programas desenvolvidos para uma plataforma específica (por exemplo, um aplicativo especialmente construído para rodar no iPhone, com o sistema operacional iOS; ou então um app desenvolvido para rodar num smartphone com sistema operacional Android; ou no Windows Phone). Ou seja, um aplicativo nativo é feito para rodar perfeitamente naquele sistema operacional específico, extraindo dele <strong><a href="https://ymedialabs.com/hybrid-vs-native-mobile-apps-the-answer-is-clear">todo o potencial</a></strong>.</p>
<p>Já o aplicativo híbrido é desenvolvido de forma mista, um pouquinho na linguagem de um sistema operacional, um pouquinho na linguagem de outro. Em geral, por baixo da sua casca de aplicativo, o app híbrido puxa o conteúdo da web (por exemplo, do website da empresa proprietária do aplicativo).</p>
<p>O desenvolvimento de um app híbrido pode ser mais econômico. Mas a <strong>qualidade</strong> do nativo ainda é superior.</p>
<p>Há defensores ardorosos de um e outro, com bons argumentos de lado a lado. Porém, do lado nativo, há um argumento imbatível para a sua escolha. O melhor argumento que pode haver em qualquer mercado.</p>
<p>Que argumento é este?</p>
<p><strong>É a experiência do usuário.</strong></p>
<p>É fato: as pessoas <em>adoram</em> os smartphones, como já dissemos. Desenvolvem uma relação pessoal com eles. (Você conhece alguém que perdeu o celular e deu de ombros: &#8220;Não tem problema, amanhã eu compro outro&#8221;?). Essa afeição não nasce do aparelho em si, mas sim do que há dentro dele. Em outras palavras &#8212; não custa repetir &#8212; <strong>por causa dos aplicativos</strong>.</p>
<p>Ou seja, o aplicativo tem de dar ao usuário uma ótima experiência de uso. Como há muitos deles no mercado, uma má experiência faz o consumidor abandonar rapidamente o app que não funciona bem. Por exemplo, apenas <strong>16% dos usuários</strong>, segundo pesquisa, tentam instalar mais de uma vez o app que deu &#8220;bug&#8221; <a href="https://info.dynatrace.com/rs/compuware/images/Mobile_App_Survey_Report.pdf">na instalação</a>.</p>
<p>A experiência de uso do app nativo é <strong>incontestavelmente superior</strong>. O aplicativo híbrido tem um desenvolvimento mais rápido e barato. Mas lembre-se sempre do usuário que vai usar o aplicativo. Ele espera que o app não tenha bugs e seja rápido de usar (muitas vezes, o app híbrido, por ter de carregar conteúdo da web, ao contrário do app nativo, cujo pacote de dados já vem completo quando baixado, é de uso mais lento). Ou seja, a expectativa do usuário é que o app tenha uma <strong>performance maravilhosa</strong>.</p>
<p>E aqui jaz o problema do app híbrido. O estilo e a lógica interna do iPhone e do Android são muito diferentes entre si. Quando se constrói um app nativo para cada um deles, estas diferenças são levadas em conta. Por mais habilidoso que seja o desenvolvedor do aplicativo híbrido, ele, tentando criar uma ponte entre os dois estilos, não vai conseguir chegar perto da experiência de usuário do app nativo.</p>
<p>Um <strong>segundo argumento</strong> técnico: você desenvolveu um app híbrido que dependa do carregamento de dados da web. Isso quer dizer que o usuário não poderá usar o aplicativo quando offline (quando não tiver wi-fi por perto, ou o sinal 3G ou 4G estiver ruim ou inexistente). Para não falar de conflitos comuns que os apps híbridos têm com o hardware dos smartphones, como a câmera e o GPS. Isso tudo frustra o usuário.</p>
<p>É um <strong>mercado exigente</strong>, e tudo que esteja abaixo do bom vai, mais cedo ou mais tarde, parar na lixeira do celular. A reação de <strong>92% dos clientes</strong> que tem uma experiência negativa com o aplicativo é em geral uma destas duas opções: 1) nunca mais usá-lo; 2) baixar o aplicativo do concorrente.</p>
<p>É o velho adágio: <strong>o barato sai caro</strong>.</p>
<p>Vamos falar de <strong>custo</strong>.</p>
<p>Talvez, apesar da qualidade ser um argumento forte, o aspecto econômico ainda pese a favor do híbrido. Lembre-se sempre que você não precisa construir as duas versões do aplicativo (iOS e Android) ao mesmo tempo. Por exemplo, o Instagram fez originalmente o seu app para iPhone. E levou dois anos para desenvolver uma versão para Android. <strong>Sim, dois anos</strong>.</p>
<p>Para encerrar, um argumento final a favor do desenvolvimento nativo:<strong> a segurança</strong>. Os apps nativos são mais seguros, pois seu desenvovimento <a href="https://ymedialabs.com/7-step-guide-mobile-app-development">é mais robusto</a>.</p>
<p><strong>Conclusão</strong><br />
Tudo isso nos levou, na DevMaker, a adotar o desenvolvimento nativo.<br />
Nossa filosofia é a de que o aplicativo deve dar ao usuário uma experiência superior de uso, em todos os seus aspectos. Não é nosso interesse fazer aplicativos híbridos (uma espécie de &#8220;Produto Mínimo Viável&#8221;), rapidamente lançáveis, mas que darão problemas mais adiante. É claro que a qualidade superior tem um custo. No entanto, por trás do custo talvez mais elevado, <strong>os benefícios do aplicativo nativo são claramente superiores</strong>.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/nativo_vs_hibrido/">Entenda as vantagens do app nativo sobre o híbrido</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/nativo_vs_hibrido/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</title>
		<link>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/</link>
		<comments>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/#respond</comments>
		<pubDate>Fri, 22 Jun 2018 18:21:14 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Advocacia]]></category>
		<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Watson]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4420</guid>
		<description><![CDATA[<p>Imagens: Pixabay/ Arte: Estúdio AO Em 2016, a maior contratação da Baker &#38; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" rel="attachment wp-att-4426"><img class="aligncenter size-full wp-image-4426" src="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" alt="AI" width="1019" height="689" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-300x203.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-768x519.png 768w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png 1019w" sizes="(max-width: 1019px) 100vw, 1019px" /></a></p>
<h6 style="text-align: right;">Imagens: Pixabay/ Arte: Estúdio AO</h6>
<p>Em 2016, a maior contratação da Baker &amp; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi o Ross.<br />
Ross aprimorou a pesquisa jurídica da firma, fornecendo as respostas mais relevantes às questões levantadas pelos advogados da B&amp;H, e não as centenas – ou milhares – de respostas possíveis que uma pesquisa tradicional (seja em alfarrábios ou pelo Google) elencaria. Ross também começou a monitorar constantemente os litígios em curso nos tribunais, notificando os colegas sobre decisões judiciais recentes que pudessem afetar seus casos.<br />
Ross não é advogado. <a href="https://rossintelligence.com/">Ross</a> é um robô, desenvolvido a partir da plataforma do Watson da IBM. Os advogados dos escritórios da B&amp;H podem consultá-lo por aplicativo em seus smartphones. O Brasil também já tem o seu “Ross”: é o <a href="https://veja.abril.com.br/economia/primeiro-advogado-robo-do-pais-acelera-processos/">ELI</a>.<br />
A Inteligência Artificial representa um ganho de produtividade aos escritórios de advocacia. Segundo a Veja, uma das vantagens do robô no escritório é a da redução de prazos para montagem de processos.</p>
<blockquote>
<h2>&#8220;Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico&#8221;</h2>
</blockquote>
<p>Muitos advogados veem com suspeita e temor a entrada da Inteligência Artificial em seu campo de atuação. Mas são sentimentos infundados. Robôs como o Ross e o ELI fazem o trabalho braçal da profissão, liberando os jurisconsultos às atividades propriamente intelectuais da atividade jurídica, bem como o cultivo da relação com o cliente. O advogado-robô é uma ferramenta que veio para ficar no mercado.<br />
O desenvolvimento de apps de Inteligência Jurídica é uma realidade.<br />
A DevMaker faz parte desta realidade. Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico: aplicativos construídos com a plataforma de Inteligência Artificial do Watson. Muito provavelmente um app estará no rol de contratações dos departamentos jurídicos das empresas num futuro bem próximo.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Geolocalização – Crie um grande negócio com ela</title>
		<link>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/</link>
		<comments>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 15:03:54 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Geolocalização]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4402</guid>
		<description><![CDATA[<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850.jpg" rel="attachment wp-att-4406"><img class="aligncenter size-large wp-image-4406" src="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg" alt="blur-close-up-colorful-1078850" width="1024" height="683" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o<br />
GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de<br />
uma pessoa ou aparelho por meio do processamento de informação digital pela internet.<br />
O que não é tão evidente é o potencial de bons negócios que se escondem sob essa<br />
bandeira, “geolocalização”.<br />
Até mesmo num mercado saturado como o de mobilidade urbana e transporte<br />
inteligente – o da conexão de passageiros e motoristas –, é possível cavar nichos, encontrar<br />
um diferencial interessante, e gerar um bom negócio. O exemplo aqui é prata da casa, o<br />
aplicativo <strong>55</strong>, que nós criamos para o<a href="http://www.55elo.com/"> serviço 55</a>. O app foi desenvolvido por nós para Android e iPhone.<br />
Tecnicamente falando, o 55 é similar ao Uber ou ao 99 – é uma plataforma de<br />
tecnologia que conecta motoristas com usuários por meio de um aplicativo. Mas o serviço<br />
trouxe diferenciais. Entre as opções de motorista, o passageiro pode escolher se quer que ser<br />
transportado por alguém do sexo masculino ou feminino. A escolha é feita no app. Muitas<br />
mulheres preferem ser transportadas por outras mulheres. Às vezes, os pais preferem que<br />
uma motorista mulher leve os filhos à escola ou ao dentista.<br />
O 55 veio suprir essa demanda do mercado. Desde que foi lançado (por enquanto em<br />
Curitiba e região), em dezembro de 2017, o serviço vem crescendo rapidamente. É um case de<br />
sucesso que nos enche de orgulho. Prata da casa? Ouro, seria melhor dizer.<br />
Quer outro exemplo de app que transformou a geolocalização em bom negócio?<br />
O <strong>Postmates</strong>.</p>
<p>O app surgiu nos EUA, em 2015, como um sistema inteligente de delivery de comida. O<br />
cliente faz (de casa, do trabalho, ou de onde estiver) um pedido num restaurante que tenha<br />
parceira comercial com o aplicativo, e o motorista/entregador do Postmates (geograficamente<br />
mais próximo do estabelecimento) apanha as iguarias e as entrega no local designado pelo<br />
cliente. No aplicativo, é possível acompanhar o trajeto do entregador, e quantos minutos<br />
faltam para a comida chegar. Em San Francisco e Nova York, muitos dos entregadores usam<br />
bicicleta.<br />
O Postmates expandiu, e hoje faz entrega de virtualmente qualquer mercadoria: roupas,<br />
tênis, compras de supermercado&#8230; o que você imaginar.<br />
Diversos concorrentes surgiram na esteira do Postmates, inclusive no Brasil (como<br />
Rappi e o Glovo): aplicativos de serviços que “entregam de tudo”, como um vinho rosé às quatro<br />
da manhã, ou o xampu que faltou às nove da noite. Mas dentro desse “entregar de tudo” ainda<br />
há muito espaço no mercado para serviços nichados. A imaginação é o limite. (Sobre o<br />
Postmates, é uma pena que não possa ser acessado no Brasil, e gera uma antipática mensagem<br />
de acesso negado, no <a href="https://postmates.com/">website</a>).<br />
Já o <strong>Deliveries</strong>, app <a href="https://fueled.com/blog/app-of-the-week-deliveries/">recentemente lançado</a>, também no mercado norte-americano, permite que você saiba<br />
exatamente estão onde as suas encomendas de FedEx, Amazon, UPS etc. E quantos dias<br />
faltam para serem entregues. É um aplicativo que organiza num só lugar o emaranhado de<br />
informações: múltiplos pedidos e itinerários, múltiplas empresas de transporte de<br />
mercadorias, múltiplos locais de envio, múltiplas datas de recebimento. Mal foi lançado, o app<br />
acabou de ser eleito o melhor “tracker” (rastreador) de mercadorias entre os aplicativos Android, pelo site <a href="https://www.androidcentral.com/best-delivery-apps- android">Android Central</a>.<br />
São casos que servem de inspiração para inovar.<br />
E, claro, nós queremos desenvolver o aplicativo do seu negócio inovador. Queremos ser o<br />
parceiro estratégico na história de sucesso do seu empreendimento.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Um app para cortar o uso de papel na empresa</title>
		<link>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/</link>
		<comments>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 14:38:55 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Redução de custos]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4390</guid>
		<description><![CDATA[<p>Certa vez, um executivo brasileiro disse que “custo é como unha: tem de cortar toda semana”. Uma dessas “unhas” é a redução de papel na empresa. Substituir o papel por informação digital...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/">Um app para cortar o uso de papel na empresa</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159.jpg" rel="attachment wp-att-4397"><img class="alignleft wp-image-4397 size-large" src="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-1024x654.jpg" alt="app-blur-business-221159" width="1024" height="654" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-300x192.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-768x490.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-1024x654.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Certa vez, um executivo brasileiro disse que “custo é como unha: tem de cortar toda semana”.<br />
Uma dessas “unhas” é a redução de papel na empresa. Substituir o papel por informação digital reduz comprovadamente o custo operacional e aumenta a eficiência das organizações.<br />
Segundo o Paperless Project, projeto de uma entidade global de sustentabilidade, a troca do papel pelo digital pode economizar em <a href="http://businessworld-usa.com/cutting-costs-in-financial-services-starts-with-paper/">até 40% o tempo</a> do funcionário. Em 2015, a Telefónica, na Europa, completou a transição, tornando-se uma empresa 100% digital – paperless, seus escritórios não usam mais papel.<br />
À redução de papel, há muitos aplicativos genéricos no mercado. A executiva Lora Milhova, gestora estratégica da transição digital na Telefónica, listou alguns dos apps utilizados então, como o aplicativo de assinatura digital da Adobe, e também o Evernote (app para tomar notas) e o BoxNote (app para brainstorming). O artigo de Lora pode ser lido <a href="https://www.workwiseuk.org/blog/2015/6/22/paperless-office-ten-top-apps-to-help-you- ditch-paper-by-lora-milhova-strategy-manager-at-telefonica">aqui</a>.<br />
Porém, cada empresa possui características próprias e desafios particulares na luta contra o papel. Na DevMaker, nós construímos para um cliente, recentemente, um sistema web cirurgicamente desenhado às suas demandas nesta questão. Para a Uningressos, nós criamos o <strong>UNIngresso</strong>, aplicação que usa um site como interface, que reduziu o <a href="http://devmaker.com.br/portfolio/uningresso/">gasto de papel</a> e aumentou a eficiência da empresa no atendimento ao público.</p>
<h2 style="text-align: center;">&#8220;O sistema representou uma economia gigantesca de papel&#8221;</h2>
<p style="text-align: left;">A Uningressos é especialista em serviços de venda de ingressos a eventos, shows e feiras.<br />
O aplicativo criado possui um leitor de código de barras, que checa digitalmente os bilhetes<br />
dos espectadores/ clientes nas filas de entrada dos eventos organizados pela empresa. O<br />
aplicativo não só representou uma economia gigantesca de papel. Aumentou a satisfação do<br />
cliente da Uningressos, pois o tempo de espera, nas filas dos eventos, foi drasticamente<br />
reduzido.<br />
Nosso objetivo é criar um aplicativo customizado às necessidades da sua companhia.<br />
Uma dessas necessidades é a redução de custos e a transição do papel ao digital.<br />
Ah, para finalizar: talvez você tenha ficado curioso em saber quem é o autor da pitoresca<br />
frase sobre unhas e custos.<br />
Ela é muitas vezes creditada ao bilionário investidor Jorge Paulo Lemann. Mas na<br />
verdade o seu autor é o ex-diretor geral da Lacta e ex-presidente da Brahma e da Ambev<br />
Magim Rodriguez Junior, hoje em dia criador de gado. (Lemann e Magim trabalharam juntos<br />
na fusão da Brahma e da Antarctica, e talvez a confusão venha daí. É um detalhe, claro. Mas<br />
nós somos assim, minuciosos).</p>
<p style="text-align: left;">O que vale dizer é que você não precisa ser assim &#8216;uma Ambev&#8217; para investir num aplicativo para reduzir seus custos. É uma ilusão que só grandes empresas podem se dar ao luxo de criar um aplicativo próprio. O custo de criação de um app é bem mais em conta do que se imagina. Venha falar conosco.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/">Um app para cortar o uso de papel na empresa</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>8 Aplicativos indispensáveis (e inovadores) para usuários de Android</title>
		<link>http://devmaker.com.br/8-aplicativos-indispensaveis-e-inovadores-para-usuarios-de-android/</link>
		<comments>http://devmaker.com.br/8-aplicativos-indispensaveis-e-inovadores-para-usuarios-de-android/#respond</comments>
		<pubDate>Mon, 15 Aug 2016 20:09:11 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Dicas]]></category>
		<category><![CDATA[Aplicativos indispensáveis]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=3966</guid>
		<description><![CDATA[<p>Não tem jeito. Se você possui um smartphone com o sistema operacional Android, provavelmente já se questionou quais são os aplicativos indispensáveis para seu aparelho. E esse questionamento faz todo...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/8-aplicativos-indispensaveis-e-inovadores-para-usuarios-de-android/">8 Aplicativos indispensáveis (e inovadores) para usuários de Android</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Não tem jeito. Se você possui um smartphone com o sistema operacional Android, provavelmente já se questionou quais são os aplicativos indispensáveis para seu aparelho.</span></p>
<p><span style="font-weight: 400;">E esse questionamento faz todo o sentido. Para se ter uma ideia, o número de aplicativos para Android </span><b>aumentou de 16 mil, em Dezembro de 2009, para mais de 2 milhões no início de 2016</b><span style="font-weight: 400;">.</span></p>
<p><a href="http://devmaker.com.br/wp-content/uploads/2016/08/Screen_Shot_2016_07_07_at_10_38_28_AM.png" rel="attachment wp-att-4037"><img class="size-full wp-image-4037 aligncenter" src="http://devmaker.com.br/wp-content/uploads/2016/08/Screen_Shot_2016_07_07_at_10_38_28_AM.png" alt="Aumento no número de aplicativos do mercado" width="640" height="368" srcset="http://devmaker.com.br/wp-content/uploads/2016/08/Screen_Shot_2016_07_07_at_10_38_28_AM-300x173.png 300w, http://devmaker.com.br/wp-content/uploads/2016/08/Screen_Shot_2016_07_07_at_10_38_28_AM.png 640w" sizes="(max-width: 640px) 100vw, 640px" /></a></p>
<p><span style="font-weight: 400;">Sabendo que escolher alguns diante de tantas opções não é uma tarefa fácil, a </span><a href="http://devmaker.com.br/empresa/?utm_source=Blog-8-apps-Android&amp;utm_medium=Blog-8-apps-Android&amp;utm_campaign=Blog-8-apps-Android&amp;utm_term=Blog-8-apps-Android&amp;utm_content="><span style="font-weight: 400;">DevMaker</span><span style="font-weight: 400;"> &#8211; Empresa de criação de Aplicativos</span></a><span style="font-weight: 400;">, que é especializada em desenvolvimento de aplicativos &#8211; inclusive aplicativos Android -, separou para vocês os </span><b>oito aplicativos indispensáveis para usuários de Android</b><span style="font-weight: 400;">.</span></p>
<p><span style="font-weight: 400;">Alguns são bem conhecidos, outros nem tanto. Mas sem dúvidas todos são extremamente úteis.</span></p>
<h2><span style="font-weight: 400;">1. <a href="https://play.google.com/store/apps/details?id=com.microsoft.office.officelens&amp;hl=en">Office Lens</a></span></h2>
<p><span style="font-weight: 400;">Imagine conseguir escanear qualquer documento, sem precisar de um </span><i><span style="font-weight: 400;">scanner</span></i><span style="font-weight: 400;">? Isso mesmo. Com o Office Lens você pode simplesmente tirar a foto de um documento e ele cuida de deixá-lo completamente legível e claro.</span></p>
<p><span style="font-weight: 400;">Você também pode converter vários formatos de arquivos para PDF, além de salvar todos no OneDrive ou OneNote. </span></p>
<h2><span style="font-weight: 400;">2. <a href="https://play.google.com/store/apps/details?id=com.evernote">Evernote</a></span></h2>
<p><span style="font-weight: 400;">Sendo considerado por muitos o melhor aplicativo para organizar tarefas e documentos na nuvem, o Evernote é ótimo para realizar anotações rápidas,  manter todos os seus trabalhos em um único lugar e mais centenas de outras funcionalidades interessantes para quem lida com muita informação no dia a dia.</span></p>
<h2><span style="font-weight: 400;">3. <a href="https://play.google.com/store/apps/details?id=co.patient.superdoc&amp;_branch_match_id=279284113437550267">Superdoc</a></span></h2>
<p><span style="font-weight: 400;">Para os mais preocupados com a saúde, o Superdoc te conecta com médicos de todo o mundo (são mais de 100 países!) que podem responder suas dúvidas ou até mesmo avaliar seus exames conforme sua necessidade.</span></p>
<p><span style="font-weight: 400;">Se desejar, você também pode conversar com o médico através do chat do próprio aplicativo. O tempo médio de resposta é de apenas 15 minutos! </span></p>
<h2><span style="font-weight: 400;">4. <a href="https://play.google.com/store/apps/details?id=com.app.wiperoid">Wiperoid</a></span></h2>
<p><span style="font-weight: 400;">Através de uma plataforma simples e intuitiva, este aplicativo permite que você bloqueie, formate ou dispare um toque no seu celular em caso de perda e/ou roubo, apenas com um envio de SMS.</span></p>
<p><span style="font-weight: 400;">Isso significa que, ao contrário dos aplicativos convencionais, com o Wiperold o seu aparelho não precisa estar conectado à internet para ser encontrado &#8211; o que é o mais provável em casos de perda e/ou roubo.</span></p>
<h2><span style="font-weight: 400;">5. <a href="https://play.google.com/store/apps/details?id=com.duolingo">Duolingo</a></span></h2>
<p><span style="font-weight: 400;">Qual tal aprender vários idiomas de forma divertida e sem o stress de ter que se deslocar para uma escola de idiomas? </span></p>
<p><span style="font-weight: 400;">Com este aplicativo que dispensa introduções, qualquer pessoa &#8211; independente do nível de instrução &#8211; pode começar a aprender inglês, espanhol e até alemão.</span></p>
<h2><span style="font-weight: 400;">6. <a href="https://play.google.com/store/apps/details?id=tunein.player">TuneIn Radio</a></span></h2>
<p><span style="font-weight: 400;">Gosta de ouvir músicas ou se manter informado através de podcasts e programas específicos? O TuneIn conta com mais de 100.000 rádios, podcasts e programas de todo o mundo.</span></p>
<p><span style="font-weight: 400;">E o melhor: é grátis!</span></p>
<h2><span style="font-weight: 400;">7. <a href="https://play.google.com/store/apps/details?id=com.pace.droidmaster">DroidMaster</a></span></h2>
<p><span style="font-weight: 400;">Uma das maiores queixas de usuários de Android é a lentidão de algumas aplicações, principalmente quando toda memória do aparelho está sendo usada para várias aplicações ao mesmo tempo.</span></p>
<p><span style="font-weight: 400;">O DroidMaster resolve este problema de forma brilhante. Com várias funcionalidades que permitem a limpeza de cache, RAM e arquivos residuais, este aplicativo simples e leve pode aumentar consideravelmente a performance do seu smartphone, além de obter mais espaço de armazenamento e rendimento da bateria. </span></p>
<h2><span style="font-weight: 400;">8. <a href="https://play.google.com/store/apps/details?id=com.urbandroid.lux">Twilight</a></span></h2>
<p><span style="font-weight: 400;">Estudos recentes demonstraram que a exposição à luz azul (típicas de dispositivos eletrônicos modernos) pode prejudicar o ciclo natural do ser humano e causar problemas graves como insônia e hiperatividade.</span></p>
<p><span style="font-weight: 400;">O Twilight filtra essa luz azul de acordo a hora do dia, tudo de forma automática e sincronizada com o horário do nascer e pôr do sol da sua localidade. </span></p>
<p><a href="http://devmaker.com.br/wp-content/uploads/2016/08/maxresdefault.jpg" rel="attachment wp-att-4038"><img class="alignnone size-full wp-image-4038" src="http://devmaker.com.br/wp-content/uploads/2016/08/maxresdefault.jpg" alt="Quanto custa criar um aplicativo?" width="1280" height="720" srcset="http://devmaker.com.br/wp-content/uploads/2016/08/maxresdefault-300x169.jpg 300w, http://devmaker.com.br/wp-content/uploads/2016/08/maxresdefault-768x432.jpg 768w, http://devmaker.com.br/wp-content/uploads/2016/08/maxresdefault-1024x576.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2016/08/maxresdefault.jpg 1280w" sizes="(max-width: 1280px) 100vw, 1280px" /></a></p>
<p><span style="font-weight: 400;">Esses oito aplicativos são indispensáveis? Sim. Mas não são os únicos! </span></p>
<p><b>A escolha dos aplicativos que você deve ter no smartphone vai depender sempre das suas reais necessidades</b><span style="font-weight: 400;">. Afinal, qual o sentido de  ter o melhor aplicativo para jogos se você não gosta de jogar? </span></p>
<p><span style="font-weight: 400;">Na dúvida, o melhor é sempre estar atento às novidades, conversar com especialistas e, é claro, ficar de olho nas melhores referências do mercado de tecnologia e desenvolvimento de aplicativos, como a própria </span><a href="http://devmaker.com.br/portfolio/?utm_source=Blog-8-apps-Android&amp;utm_medium=Blog-8-apps-Android&amp;utm_campaign=Blog-8-apps-Android&amp;utm_term=Blog-8-apps-Android&amp;utm_content="><span style="font-weight: 400;">DevMaker</span><span style="font-weight: 400;"> &#8211; Empresa de criação de aplicativos. </span></a></p>
<h2><b>Quer saber quanto custa criar um aplicativo?</b></h2>
<p><a class="no-ajaxy" href="http://devmaker.com.br/orcamento/"><b>Faça um orçamento sem compromisso com a DevMaker</b></a>. Com informações mais detalhadas sobre a sua ideia, podemos avaliá-la e pensar e na melhor forma de torná-la realidade.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/8-aplicativos-indispensaveis-e-inovadores-para-usuarios-de-android/">8 Aplicativos indispensáveis (e inovadores) para usuários de Android</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/8-aplicativos-indispensaveis-e-inovadores-para-usuarios-de-android/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
