<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Advocacia &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/advocacia/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</title>
		<link>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/</link>
		<comments>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/#respond</comments>
		<pubDate>Fri, 22 Jun 2018 18:21:14 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Advocacia]]></category>
		<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Watson]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4420</guid>
		<description><![CDATA[<p>Imagens: Pixabay/ Arte: Estúdio AO Em 2016, a maior contratação da Baker &#38; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" rel="attachment wp-att-4426"><img class="aligncenter size-full wp-image-4426" src="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" alt="AI" width="1019" height="689" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-300x203.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-768x519.png 768w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png 1019w" sizes="(max-width: 1019px) 100vw, 1019px" /></a></p>
<h6 style="text-align: right;">Imagens: Pixabay/ Arte: Estúdio AO</h6>
<p>Em 2016, a maior contratação da Baker &amp; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi o Ross.<br />
Ross aprimorou a pesquisa jurídica da firma, fornecendo as respostas mais relevantes às questões levantadas pelos advogados da B&amp;H, e não as centenas – ou milhares – de respostas possíveis que uma pesquisa tradicional (seja em alfarrábios ou pelo Google) elencaria. Ross também começou a monitorar constantemente os litígios em curso nos tribunais, notificando os colegas sobre decisões judiciais recentes que pudessem afetar seus casos.<br />
Ross não é advogado. <a href="https://rossintelligence.com/">Ross</a> é um robô, desenvolvido a partir da plataforma do Watson da IBM. Os advogados dos escritórios da B&amp;H podem consultá-lo por aplicativo em seus smartphones. O Brasil também já tem o seu “Ross”: é o <a href="https://veja.abril.com.br/economia/primeiro-advogado-robo-do-pais-acelera-processos/">ELI</a>.<br />
A Inteligência Artificial representa um ganho de produtividade aos escritórios de advocacia. Segundo a Veja, uma das vantagens do robô no escritório é a da redução de prazos para montagem de processos.</p>
<blockquote>
<h2>&#8220;Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico&#8221;</h2>
</blockquote>
<p>Muitos advogados veem com suspeita e temor a entrada da Inteligência Artificial em seu campo de atuação. Mas são sentimentos infundados. Robôs como o Ross e o ELI fazem o trabalho braçal da profissão, liberando os jurisconsultos às atividades propriamente intelectuais da atividade jurídica, bem como o cultivo da relação com o cliente. O advogado-robô é uma ferramenta que veio para ficar no mercado.<br />
O desenvolvimento de apps de Inteligência Jurídica é uma realidade.<br />
A DevMaker faz parte desta realidade. Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico: aplicativos construídos com a plataforma de Inteligência Artificial do Watson. Muito provavelmente um app estará no rol de contratações dos departamentos jurídicos das empresas num futuro bem próximo.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
