<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>ASO &#8211; App Store Optimization &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/aso-app-store-optimization/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Como aumentar a visibilidade de um aplicativo</title>
		<link>http://devmaker.com.br/aso-visibilidade-do-app/</link>
		<comments>http://devmaker.com.br/aso-visibilidade-do-app/#respond</comments>
		<pubDate>Wed, 15 Aug 2018 17:49:48 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[App store]]></category>
		<category><![CDATA[ASO - App Store Optimization]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4512</guid>
		<description><![CDATA[<p>Imagem: Pixabay Segundo o Statista, há no mercado 3,8 milhões de aplicativos para Android e 2 milhões para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg" rel="attachment wp-att-4518"><img class="aligncenter size-large wp-image-4518" src="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg" alt="mobile-phone-1087845_1280" width="1024" height="724" srcset="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-300x212.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-768x543.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Imagem: Pixabay</h6>
<p>Segundo o <a href="https://www.statista.com/statistics/276623/number-of-apps-available-in-leading-app-stores/">Statista</a>, há no mercado <strong>3,8 milhões</strong> de aplicativos para Android e <strong>2 milhões</strong> para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua categoria. E é cada vez mais importante desenvolver estratégias para que o app possa ser descoberto pelo cliente nas lojas de apps, e que a descoberta se transforme em conversão: que o cliente baixe o app.</p>
<p>Para isso, fizemos um pequeno <strong>Manual de Sobrevivência na Selva</strong> dos aplicativos. Para ele poder ser descoberto pelo visitante na App Store ou no Google Play. Estratégias para que o app alcance uma alta taxa de downloads em sua categoria.  Em inglês, este processo é chamado de <strong><a href="https://neilpatel.com/blog/app-store-optimization/">ASO &#8212; App Store Optimization</a></strong>.</p>
<p>Um dado da <a href="https://www.storemaven.com/components-of-winning-aso-strategy/"><strong>consultoria Storemaven</strong></a>: a média de tempo que o usuário leva para tomar a decisão de baixar um aplicativo é de 3 a 6 segundos. E <a href="http://techcrunch.com/2013/04/17/forrester-app-discovery-report/">63% dos aplicativos</a> são descobertos pelo usuário quando ele já está na App Store ou no Google Play. Ou seja, a decisão de baixar o app vai depender sobretudo de três elementos ali na tela, naquele momento: o ícone do aplicativo, a sua descrição (que deve ser concisa e objetiva) e a sua boa avaliação pelos outros usuários.</p>
<p>O primeiro fator importante para o sucesso comercial de uma app é entender o cliente: o que o leva a baixar o aplicativo? Muitas vezes, os motivos da decisão de download são contraintuitivos. Por exemplo, os desenvolvedores do app <a href="https://inthemoment.io/"><strong>Moment</strong></a>, disponível para iOS, se deram conta que havia no mercado um segmento de pessoas dispostas a <a href="https://www.inc.com/jeremy-goldman/6-apps-to-stop-your-smartphone-addiction.html">se livrar do vício do smartphone</a>: não queriam mais passar boa parte do dia grudadas a ele. O app permite que o usuário defina limites diários de uso do celular, notificando quando o limite é ultrapassado. A primeira coisa que os criadores do <strong>Moment</strong> fizeram foi criar um ícone clean (e pacífico) ao app.</p>
<p>Uma estratégia eficiente de ASO vai além da <strong>otimização por palavras-chave</strong>. Para que a descoberta se torne conversão, é crucial descobrir quais os elementos criativos que atraíram o usuário e o levaram a baixar o app: as imagens, os vídeos, os selos e textinhos explicativos sobre o app na loja.</p>
<p>Para isso, é fundamental estudar a concorrência. Analise as avaliações que os usuários dão ao app dos concorrentes. Leia os comentários sobre ele. Identifique os recursos do app que mais atraem estes usuários. Identifique os anúncios que funcionam melhor. Por exemplo, a Storemaven identificou os elementos que geram mais impacto aos clientes Android e iPhone na decisão de baixar o aplicativo. O <strong>impacto do ícone</strong>, por exemplo, é maior entre os clientes do iPhone do que do Android: 18% dos usuários do iPhone na AppStore, segundo a pesquisa da Storemaven, dizem se guiar pelo belo visual do app na decisão de baixá-lo, contra a 11% dos usuários do Android no Google Play. Veja o <strong>infográfico</strong> da consultoria <strong><a href="https://downloads.intercomcdn.com/i/o/59211971/ed3726413e14551aebc0b8e4/StoreMaven_infographic_ASO_impact.png">aqui</a></strong>.</p>
<p>Por fim, lembre-se que a tela do smartphone é pequena. Não a polua com excesso de informação sobre o app. Isto vai confundir o visitante. São estas algumas das principais estratégias para aumentar o número de downloads do app na loja. E assim fazê-lo  se destacar na selva de aplicativos no mercado.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/aso-visibilidade-do-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
