<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Geolocalização &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/geolocalizacao/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Geolocalização – Crie um grande negócio com ela</title>
		<link>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/</link>
		<comments>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 15:03:54 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Geolocalização]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4402</guid>
		<description><![CDATA[<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850.jpg" rel="attachment wp-att-4406"><img class="aligncenter size-large wp-image-4406" src="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg" alt="blur-close-up-colorful-1078850" width="1024" height="683" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o<br />
GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de<br />
uma pessoa ou aparelho por meio do processamento de informação digital pela internet.<br />
O que não é tão evidente é o potencial de bons negócios que se escondem sob essa<br />
bandeira, “geolocalização”.<br />
Até mesmo num mercado saturado como o de mobilidade urbana e transporte<br />
inteligente – o da conexão de passageiros e motoristas –, é possível cavar nichos, encontrar<br />
um diferencial interessante, e gerar um bom negócio. O exemplo aqui é prata da casa, o<br />
aplicativo <strong>55</strong>, que nós criamos para o<a href="http://www.55elo.com/"> serviço 55</a>. O app foi desenvolvido por nós para Android e iPhone.<br />
Tecnicamente falando, o 55 é similar ao Uber ou ao 99 – é uma plataforma de<br />
tecnologia que conecta motoristas com usuários por meio de um aplicativo. Mas o serviço<br />
trouxe diferenciais. Entre as opções de motorista, o passageiro pode escolher se quer que ser<br />
transportado por alguém do sexo masculino ou feminino. A escolha é feita no app. Muitas<br />
mulheres preferem ser transportadas por outras mulheres. Às vezes, os pais preferem que<br />
uma motorista mulher leve os filhos à escola ou ao dentista.<br />
O 55 veio suprir essa demanda do mercado. Desde que foi lançado (por enquanto em<br />
Curitiba e região), em dezembro de 2017, o serviço vem crescendo rapidamente. É um case de<br />
sucesso que nos enche de orgulho. Prata da casa? Ouro, seria melhor dizer.<br />
Quer outro exemplo de app que transformou a geolocalização em bom negócio?<br />
O <strong>Postmates</strong>.</p>
<p>O app surgiu nos EUA, em 2015, como um sistema inteligente de delivery de comida. O<br />
cliente faz (de casa, do trabalho, ou de onde estiver) um pedido num restaurante que tenha<br />
parceira comercial com o aplicativo, e o motorista/entregador do Postmates (geograficamente<br />
mais próximo do estabelecimento) apanha as iguarias e as entrega no local designado pelo<br />
cliente. No aplicativo, é possível acompanhar o trajeto do entregador, e quantos minutos<br />
faltam para a comida chegar. Em San Francisco e Nova York, muitos dos entregadores usam<br />
bicicleta.<br />
O Postmates expandiu, e hoje faz entrega de virtualmente qualquer mercadoria: roupas,<br />
tênis, compras de supermercado&#8230; o que você imaginar.<br />
Diversos concorrentes surgiram na esteira do Postmates, inclusive no Brasil (como<br />
Rappi e o Glovo): aplicativos de serviços que “entregam de tudo”, como um vinho rosé às quatro<br />
da manhã, ou o xampu que faltou às nove da noite. Mas dentro desse “entregar de tudo” ainda<br />
há muito espaço no mercado para serviços nichados. A imaginação é o limite. (Sobre o<br />
Postmates, é uma pena que não possa ser acessado no Brasil, e gera uma antipática mensagem<br />
de acesso negado, no <a href="https://postmates.com/">website</a>).<br />
Já o <strong>Deliveries</strong>, app <a href="https://fueled.com/blog/app-of-the-week-deliveries/">recentemente lançado</a>, também no mercado norte-americano, permite que você saiba<br />
exatamente estão onde as suas encomendas de FedEx, Amazon, UPS etc. E quantos dias<br />
faltam para serem entregues. É um aplicativo que organiza num só lugar o emaranhado de<br />
informações: múltiplos pedidos e itinerários, múltiplas empresas de transporte de<br />
mercadorias, múltiplos locais de envio, múltiplas datas de recebimento. Mal foi lançado, o app<br />
acabou de ser eleito o melhor “tracker” (rastreador) de mercadorias entre os aplicativos Android, pelo site <a href="https://www.androidcentral.com/best-delivery-apps- android">Android Central</a>.<br />
São casos que servem de inspiração para inovar.<br />
E, claro, nós queremos desenvolver o aplicativo do seu negócio inovador. Queremos ser o<br />
parceiro estratégico na história de sucesso do seu empreendimento.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
