<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Realidade Aumentada &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/realidade-aumentada/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Realidade Aumentada: saiba o que é (e como transformá-la em negócio)</title>
		<link>http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/</link>
		<comments>http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/#respond</comments>
		<pubDate>Tue, 07 Aug 2018 16:38:33 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Realidade Aumentada]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4478</guid>
		<description><![CDATA[<p>Foto: Unsplash.com Vamos falar de futuro? Em poucos anos (mas poucos mesmo) a Realidade Aumentada será ubíqua. Apontar o smartphone para um produto, um prédio &#8212; ou mesmo, que receio!, para outra...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/">Realidade Aumentada: saiba o que é (e como transformá-la em negócio)</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash.jpg" rel="attachment wp-att-4485"><img class="aligncenter size-large wp-image-4485" src="http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash-1024x683.jpg" alt="omar-prestwich-265221-unsplash" width="1024" height="683" srcset="http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash-1024x683.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Foto: Unsplash.com</h6>
<p>Vamos falar de futuro? Em poucos anos (mas poucos mesmo) a Realidade Aumentada será ubíqua. Apontar o smartphone para um produto, um prédio &#8212; ou mesmo, que receio!, para outra pessoa &#8212; e obter instantaneamente uma série de dados sobre eles, será ferramenta comum nos aplicativos.</p>
<p>É uma tendência que ainda engatinha. Porém, em 2021 (ou seja, em três anos), o mercado de <strong>RA</strong> <strong><a href="https://9to5mac.com/2017/08/04/worldwide-ar-vr-grow-215b-by-2021/">deverá chegar a US$ 215 bi</a></strong>. Só por comparação, em 2018 será de US$ 17 bilhões.</p>
<p>Uma confusão que se faz é achar que &#8220;Realidade Aumentada&#8221; e &#8220;Realidade Virtual&#8221; são a mesma coisa, mas não são.  A Realidade Virtual permite a imersão do usuário num ambiente 3D. Já a Realidade Aumentada traz elementos do mundo virtual para o real. (Ou seja, ao invés de entrarmos num ambiente tridimensional como na VR, é o 3D que &#8220;entra&#8221; em nosso mundo). O caso mais famoso de Realidade Aumentada é o jogo Pokémon Go, em que os monstrinhos de bolso são inseridos em 3D em lugares reais, por meio da câmera do smartphone. O game, criado pela Niantic (empresa surgida dentro do Google), se tornou febre desde que foi lançado, em julho de 2016.</p>
<blockquote>
<h1>&#8220;A Realidade Aumentada já faz parte do presente. E com ela uma série de negócios e oportunidades&#8221;</h1>
</blockquote>
<p>Games ainda respondem pela maior fatia do mercado de Realidade Aumentada, <strong><a href="https://www.information-age.com/12-hot-augmented-reality-ideas-for-your-business-123471817/">34%</a></strong>. Mas há muitos outros mercados em potencial à <strong>RA</strong> Um deles é o de apps de namoro: o cupido ganhará update. Por meio de ferramentas de reconhecimento facial, os apps de relacionamento por Realidade Aumentada permitirão que as pessoas obtenham dados em tempo real e <em>in loco</em> sobre outra pessoa. Sim, isto levanta uma série de questões éticas e legais que precisam ser examinadas e respondidas. Mas o fato é que esta indústria será ainda mais dinâmica do que já é. A <strong>RA</strong> permitirá o match instantâneo.</p>
<p>Apps de Realidade Aumentada vão ser cada vez mais comuns no marketing (por exemplo, apontar o smartphone para um produto na vitrine e receber na hora uma oferta com desconto), no esporte (conferir um impedimento ou a trajetória da bola num jogo de futebol), em turismo (conferir menus e preços de restaurantes em pelo local). E também na experiência de compra. A Ikea já possui um app que permite que se mude o tamanho e a cor de objetos em 3D, inserindo-os no ambiente da casa do cliente. Por exemplo, para que possamos escolher o sofá ideal para a nossa sala de estar.</p>
<p>Quanto aos games, a Niantic &#8212; depois do sucesso de Pokémon Go &#8212; prepara um novo blockbuster de Realidade Aumentada, &#8220;Harry Potter: Wizards Unite&#8221;, a ser lançado até o final de 2018. Quem quiser saber mais sobre <strong>RA</strong>, vale a pena ler o livro de <strong><a href="http://knowledge.wharton.upenn.edu/article/whats-next-for-the-innovation-behind-google-maps/">Bill Kilday</a></strong>, vice-presidente da Niantic (e ex-executivo do Google, criador do Google Maps), <strong><em>Never Lost Again: The Google Mapping Revolution That Sparked New Industries and Augmented Our Reality</em></strong> (algo como &#8220;Nunca se perca de novo: a revolução de mapeamento do Google que deflagrou novas indústrias e aumentou nossa realidade&#8221;), inédito em português.</p>
<p>Prometemos falar de futuro, mas a Realidade Aumentada já faz parte do presente. E com ela uma série de grandes negócios e oportunidades, que estão bem na palma da mão. Ou do smartphone.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/">Realidade Aumentada: saiba o que é (e como transformá-la em negócio)</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
