<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Marketing &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/marketing/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Como a Harley-Davidson turbinou as vendas com Inteligência Artificial</title>
		<link>http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/</link>
		<comments>http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/#respond</comments>
		<pubDate>Fri, 22 Jun 2018 19:22:09 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Marketing]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4429</guid>
		<description><![CDATA[<p>Foto: Shutterstock Depois de incrementar o seu marketing com Inteligência Artificial, a concessionária de Nova York da Harley-Davidson catapultou as vendas: de duas motos por semana para quinze motos. Plataformas...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/">Como a Harley-Davidson turbinou as vendas com Inteligência Artificial</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280.jpg" rel="attachment wp-att-4430"><img class="aligncenter size-large wp-image-4430" src="http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280-1024x740.jpg" alt="harley-davidson-2529974_1280" width="1024" height="740" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280-300x217.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280-768x555.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280-1024x740.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Foto: Shutterstock</h6>
<p>Depois de incrementar o seu marketing com <strong>Inteligência Artificial</strong>, a concessionária de Nova York da <strong>Harley-Davidson</strong> catapultou as vendas: de duas motos por semana para quinze motos.<br />
Plataformas de Inteligência Artificial estão o mudando o jeito dos anunciantes fazerem marketing, com efeitos espetaculares. Mas vamos à história da Harley.<br />
A concessionária de Nova York do fabricante de motocicletas, no coração de Manhattan, estava passando por uma maré baixa, fechando apenas uma ou duas vendas por semana. Era pouco.<br />
Foi durante um encontro casual que o dono da concessionária da Harley-Davidson encontrou a solução ao seu problema. O empresário estava fazendo jogging num parque nova-iorquino quando trombou com o presidente da <strong>Adgorithm</strong>, empresa de marketing por Inteligência Artificial. Os dois começaram a conversar. A conversa rumou às vendas fracas da marca de motos em Nova York, e, claro, o presidente da Adgorithm propôs o serviço da sua plataforma de Inteligência Artificial para turbinar as vendas das motocicletas.<br />
A proposta ouvida não chegou a entusiasmar o dono da concessionária. A Adgorithm usaria um robô que analisaria canais de internet como Google e Facebook, otimizando e adaptando a mensagem publicitária de acordo com a coleta de dados. Mas relutantemente concedeu em fazer um teste com a empresa.<br />
Na primeira semana depois do início do teste, a loja de Manhattan vendeu quinze motocicletas. Em três meses, os <em>leads</em> de vendas (contatos de novos clientes em potencial) <a href="https://hbr.org/2017/05/how-harley-davidson-used-predictive-analytics-to-increase-new-york-sales-leads-by-2930">aumentaram em 2930%</a>.<br />
Sim, não é erro de digitação: quase três mil por cento.<br />
No marketing tradicional, costumava-se jogar com perfis idealizados de consumidores, em parte baseados na experiência prévia de vendas (a carteira de antigos clientes), em parte no bom e velho palpite: quem o marqueteiro <em>achava</em> que poderia vir a se tornar cliente. A Inteligência Artificial mudou esse jogo. O robô da Adgorithm analisou todos os consumidores que tiveram algum contato com a loja de motos, identificando os seus melhores clientes: quem concluiu a compra, quem ao menos adicionou um item ao carrinho de compras na loja virtual (mesmo que depois não tenha concluído a compra), quem visualizou o conteúdo do website. Identificou também as pessoas que compunham o “top 25%” em termos do tempo despendido no site da fabricante de motos (os fãs da marca). De posse destes dados, fez uma varredura, no Google e nas redes sociais, como Facebook e Instagram, de consumidores que nunca tinham tido contato com a marca Harley-Davidson, mas cujo perfil se parecia ao da clientela da loja.<br />
As descobertas feitas nesta busca foram surpreendentes. Pessoas cujo perfil nunca antes, pelo marketing tradicional, despertaram a suspeita de que poderiam se tornar clientes da Harley-Davidson subitamente se revelaram ávidos compradores de suas motos. Um novo perfil de clientela surgiu das descobertas feitas com o auxílio da Inteligência Artificial.<br />
O marketing pela Inteligência Artificial é um mundo novo, em desbravamento. Mas os resultados são palpáveis. “A adoção da inteligência artificial no marketing só tende a aumentar, à medida que as empresas começam a entender como lucrar com a segmentação em tempo real de clientes, com as mensagens personalizadas, com a previsão de valor por cliente, e com a otimização nas compras de mídia publicitária”, diz Dave Sutton, autor do livro<strong> <em><a href="https://www.linkedin.com/pulse/how-marketers-can-interrupt-marketing-dave-sutton">Marketing Interrupted</a></em> </strong>(“Marketing Interrompido”, lançado recentemente, ainda inédito no Brasil), sobre a chegada da Inteligência Artificial ao mundo do marketing.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/">Como a Harley-Davidson turbinou as vendas com Inteligência Artificial</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
