<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>iOs &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/ios/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Como aumentar a visibilidade de um aplicativo</title>
		<link>http://devmaker.com.br/aso-visibilidade-do-app/</link>
		<comments>http://devmaker.com.br/aso-visibilidade-do-app/#respond</comments>
		<pubDate>Wed, 15 Aug 2018 17:49:48 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[App store]]></category>
		<category><![CDATA[ASO - App Store Optimization]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4512</guid>
		<description><![CDATA[<p>Imagem: Pixabay Segundo o Statista, há no mercado 3,8 milhões de aplicativos para Android e 2 milhões para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg" rel="attachment wp-att-4518"><img class="aligncenter size-large wp-image-4518" src="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg" alt="mobile-phone-1087845_1280" width="1024" height="724" srcset="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-300x212.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-768x543.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Imagem: Pixabay</h6>
<p>Segundo o <a href="https://www.statista.com/statistics/276623/number-of-apps-available-in-leading-app-stores/">Statista</a>, há no mercado <strong>3,8 milhões</strong> de aplicativos para Android e <strong>2 milhões</strong> para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua categoria. E é cada vez mais importante desenvolver estratégias para que o app possa ser descoberto pelo cliente nas lojas de apps, e que a descoberta se transforme em conversão: que o cliente baixe o app.</p>
<p>Para isso, fizemos um pequeno <strong>Manual de Sobrevivência na Selva</strong> dos aplicativos. Para ele poder ser descoberto pelo visitante na App Store ou no Google Play. Estratégias para que o app alcance uma alta taxa de downloads em sua categoria.  Em inglês, este processo é chamado de <strong><a href="https://neilpatel.com/blog/app-store-optimization/">ASO &#8212; App Store Optimization</a></strong>.</p>
<p>Um dado da <a href="https://www.storemaven.com/components-of-winning-aso-strategy/"><strong>consultoria Storemaven</strong></a>: a média de tempo que o usuário leva para tomar a decisão de baixar um aplicativo é de 3 a 6 segundos. E <a href="http://techcrunch.com/2013/04/17/forrester-app-discovery-report/">63% dos aplicativos</a> são descobertos pelo usuário quando ele já está na App Store ou no Google Play. Ou seja, a decisão de baixar o app vai depender sobretudo de três elementos ali na tela, naquele momento: o ícone do aplicativo, a sua descrição (que deve ser concisa e objetiva) e a sua boa avaliação pelos outros usuários.</p>
<p>O primeiro fator importante para o sucesso comercial de uma app é entender o cliente: o que o leva a baixar o aplicativo? Muitas vezes, os motivos da decisão de download são contraintuitivos. Por exemplo, os desenvolvedores do app <a href="https://inthemoment.io/"><strong>Moment</strong></a>, disponível para iOS, se deram conta que havia no mercado um segmento de pessoas dispostas a <a href="https://www.inc.com/jeremy-goldman/6-apps-to-stop-your-smartphone-addiction.html">se livrar do vício do smartphone</a>: não queriam mais passar boa parte do dia grudadas a ele. O app permite que o usuário defina limites diários de uso do celular, notificando quando o limite é ultrapassado. A primeira coisa que os criadores do <strong>Moment</strong> fizeram foi criar um ícone clean (e pacífico) ao app.</p>
<p>Uma estratégia eficiente de ASO vai além da <strong>otimização por palavras-chave</strong>. Para que a descoberta se torne conversão, é crucial descobrir quais os elementos criativos que atraíram o usuário e o levaram a baixar o app: as imagens, os vídeos, os selos e textinhos explicativos sobre o app na loja.</p>
<p>Para isso, é fundamental estudar a concorrência. Analise as avaliações que os usuários dão ao app dos concorrentes. Leia os comentários sobre ele. Identifique os recursos do app que mais atraem estes usuários. Identifique os anúncios que funcionam melhor. Por exemplo, a Storemaven identificou os elementos que geram mais impacto aos clientes Android e iPhone na decisão de baixar o aplicativo. O <strong>impacto do ícone</strong>, por exemplo, é maior entre os clientes do iPhone do que do Android: 18% dos usuários do iPhone na AppStore, segundo a pesquisa da Storemaven, dizem se guiar pelo belo visual do app na decisão de baixá-lo, contra a 11% dos usuários do Android no Google Play. Veja o <strong>infográfico</strong> da consultoria <strong><a href="https://downloads.intercomcdn.com/i/o/59211971/ed3726413e14551aebc0b8e4/StoreMaven_infographic_ASO_impact.png">aqui</a></strong>.</p>
<p>Por fim, lembre-se que a tela do smartphone é pequena. Não a polua com excesso de informação sobre o app. Isto vai confundir o visitante. São estas algumas das principais estratégias para aumentar o número de downloads do app na loja. E assim fazê-lo  se destacar na selva de aplicativos no mercado.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/aso-visibilidade-do-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Entenda as vantagens do app nativo sobre o híbrido</title>
		<link>http://devmaker.com.br/nativo_vs_hibrido/</link>
		<comments>http://devmaker.com.br/nativo_vs_hibrido/#respond</comments>
		<pubDate>Wed, 25 Jul 2018 15:35:38 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativo Híbrido]]></category>
		<category><![CDATA[Aplicativo Nativo]]></category>
		<category><![CDATA[iOs]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4455</guid>
		<description><![CDATA[<p>Imagem: Pixabay Todo mundo sabe que as pessoas adoram seus smartphones. E a principal razão desta afeição são os aplicativos que rodam neles. Por esta razão, nós na DevMaker investimos na qualidade...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/nativo_vs_hibrido/">Entenda as vantagens do app nativo sobre o híbrido</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280.jpg" rel="attachment wp-att-4458"><img class="aligncenter wp-image-4465 size-large" src="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-1024x682.jpg" alt="" width="1024" height="682" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-1024x682.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Imagem: Pixabay</h6>
<p>Todo mundo sabe que as pessoas adoram seus smartphones. E a principal razão desta afeição são os aplicativos que rodam neles. Por esta razão, nós na DevMaker investimos na qualidade no desenvolvimento de aplicativos mobile. Entre um desenvolvimento nativo ou híbrido, escolhemos desenvolver apps apenas de forma nativa. Você vai entender o porquê. (Ah, e já explicamos o que significa &#8220;nativo&#8221; e &#8220;híbrido&#8221;).</p>
<p>Pois bem, para começar, vamos dar uma breve explicação sobre os dois tipos de apps.</p>
<p>Aplicativos nativos são programas desenvolvidos para uma plataforma específica (por exemplo, um aplicativo especialmente construído para rodar no iPhone, com o sistema operacional iOS; ou então um app desenvolvido para rodar num smartphone com sistema operacional Android; ou no Windows Phone). Ou seja, um aplicativo nativo é feito para rodar perfeitamente naquele sistema operacional específico, extraindo dele <strong><a href="https://ymedialabs.com/hybrid-vs-native-mobile-apps-the-answer-is-clear">todo o potencial</a></strong>.</p>
<p>Já o aplicativo híbrido é desenvolvido de forma mista, um pouquinho na linguagem de um sistema operacional, um pouquinho na linguagem de outro. Em geral, por baixo da sua casca de aplicativo, o app híbrido puxa o conteúdo da web (por exemplo, do website da empresa proprietária do aplicativo).</p>
<p>O desenvolvimento de um app híbrido pode ser mais econômico. Mas a <strong>qualidade</strong> do nativo ainda é superior.</p>
<p>Há defensores ardorosos de um e outro, com bons argumentos de lado a lado. Porém, do lado nativo, há um argumento imbatível para a sua escolha. O melhor argumento que pode haver em qualquer mercado.</p>
<p>Que argumento é este?</p>
<p><strong>É a experiência do usuário.</strong></p>
<p>É fato: as pessoas <em>adoram</em> os smartphones, como já dissemos. Desenvolvem uma relação pessoal com eles. (Você conhece alguém que perdeu o celular e deu de ombros: &#8220;Não tem problema, amanhã eu compro outro&#8221;?). Essa afeição não nasce do aparelho em si, mas sim do que há dentro dele. Em outras palavras &#8212; não custa repetir &#8212; <strong>por causa dos aplicativos</strong>.</p>
<p>Ou seja, o aplicativo tem de dar ao usuário uma ótima experiência de uso. Como há muitos deles no mercado, uma má experiência faz o consumidor abandonar rapidamente o app que não funciona bem. Por exemplo, apenas <strong>16% dos usuários</strong>, segundo pesquisa, tentam instalar mais de uma vez o app que deu &#8220;bug&#8221; <a href="https://info.dynatrace.com/rs/compuware/images/Mobile_App_Survey_Report.pdf">na instalação</a>.</p>
<p>A experiência de uso do app nativo é <strong>incontestavelmente superior</strong>. O aplicativo híbrido tem um desenvolvimento mais rápido e barato. Mas lembre-se sempre do usuário que vai usar o aplicativo. Ele espera que o app não tenha bugs e seja rápido de usar (muitas vezes, o app híbrido, por ter de carregar conteúdo da web, ao contrário do app nativo, cujo pacote de dados já vem completo quando baixado, é de uso mais lento). Ou seja, a expectativa do usuário é que o app tenha uma <strong>performance maravilhosa</strong>.</p>
<p>E aqui jaz o problema do app híbrido. O estilo e a lógica interna do iPhone e do Android são muito diferentes entre si. Quando se constrói um app nativo para cada um deles, estas diferenças são levadas em conta. Por mais habilidoso que seja o desenvolvedor do aplicativo híbrido, ele, tentando criar uma ponte entre os dois estilos, não vai conseguir chegar perto da experiência de usuário do app nativo.</p>
<p>Um <strong>segundo argumento</strong> técnico: você desenvolveu um app híbrido que dependa do carregamento de dados da web. Isso quer dizer que o usuário não poderá usar o aplicativo quando offline (quando não tiver wi-fi por perto, ou o sinal 3G ou 4G estiver ruim ou inexistente). Para não falar de conflitos comuns que os apps híbridos têm com o hardware dos smartphones, como a câmera e o GPS. Isso tudo frustra o usuário.</p>
<p>É um <strong>mercado exigente</strong>, e tudo que esteja abaixo do bom vai, mais cedo ou mais tarde, parar na lixeira do celular. A reação de <strong>92% dos clientes</strong> que tem uma experiência negativa com o aplicativo é em geral uma destas duas opções: 1) nunca mais usá-lo; 2) baixar o aplicativo do concorrente.</p>
<p>É o velho adágio: <strong>o barato sai caro</strong>.</p>
<p>Vamos falar de <strong>custo</strong>.</p>
<p>Talvez, apesar da qualidade ser um argumento forte, o aspecto econômico ainda pese a favor do híbrido. Lembre-se sempre que você não precisa construir as duas versões do aplicativo (iOS e Android) ao mesmo tempo. Por exemplo, o Instagram fez originalmente o seu app para iPhone. E levou dois anos para desenvolver uma versão para Android. <strong>Sim, dois anos</strong>.</p>
<p>Para encerrar, um argumento final a favor do desenvolvimento nativo:<strong> a segurança</strong>. Os apps nativos são mais seguros, pois seu desenvovimento <a href="https://ymedialabs.com/7-step-guide-mobile-app-development">é mais robusto</a>.</p>
<p><strong>Conclusão</strong><br />
Tudo isso nos levou, na DevMaker, a adotar o desenvolvimento nativo.<br />
Nossa filosofia é a de que o aplicativo deve dar ao usuário uma experiência superior de uso, em todos os seus aspectos. Não é nosso interesse fazer aplicativos híbridos (uma espécie de &#8220;Produto Mínimo Viável&#8221;), rapidamente lançáveis, mas que darão problemas mais adiante. É claro que a qualidade superior tem um custo. No entanto, por trás do custo talvez mais elevado, <strong>os benefícios do aplicativo nativo são claramente superiores</strong>.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/nativo_vs_hibrido/">Entenda as vantagens do app nativo sobre o híbrido</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/nativo_vs_hibrido/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</title>
		<link>http://devmaker.com.br/conheca-o-footsys-pro/</link>
		<comments>http://devmaker.com.br/conheca-o-footsys-pro/#respond</comments>
		<pubDate>Wed, 27 Jun 2018 18:05:49 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Cases]]></category>
		<category><![CDATA[Esporte]]></category>
		<category><![CDATA[Futebol]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4436</guid>
		<description><![CDATA[<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" rel="attachment wp-att-4437"><img class="aligncenter size-full wp-image-4437" src="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" alt="footsys-app-mockup1" width="549" height="449" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1-300x245.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png 549w" sizes="(max-width: 549px) 100vw, 549px" /></a></p>
<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na mão.<br />
Não só um tablet. Mas um tablet rodando o <strong>Footsys Pro</strong>, o aplicativo para iOS que a DevMaker desenvolveu, que emite relatórios em tempo real de avaliação física, volume de treino, histórico e evolução dos atletas.<br />
De norte a sul do Brasil, diversos clubes de futebol já adotaram o Footsys Pro, como, no Paraná, o <strong>Coritiba</strong> (além de várias equipes de futsal), o <strong>Palmeiras</strong> em São Paulo, o <strong>Fluminense</strong> no Rio de Janeiro, e no norte do país o <strong>Paysandu</strong>, o ilustre “Papão da Curuzu” de Belém do Pará.<br />
“Havia uma deficiência na minha área. Os técnicos normalmente faziam o controle dos atletas em planilhas. Outros usavam ainda o papel”, diz o educador físico Eduardo Zarpelon, idealizador do aplicativo. Ele e o sócio Vitor Hugo Padilha são os fundadores da startup <a href="http://footsys.com.br">Footsys</a>, que tem por objetivo oferecer uma solução tecnológica para controles estatísticos de treino em esportes coletivos. O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol.</p>
<blockquote>
<h2>&#8220;O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol&#8221;</h2>
</blockquote>
<p>O Footsys Pro permite aos treinadores e preparadores técnicos cruzar dados dos atletas durante o próprio treino, permitindo que se faça mudanças táticas e técnicas in loco, em tempo real (antigamente, os dados anotados tinham de ser analisados no vestiário, depois do treino).<br />
O aplicativo FootSys Pro pode ser baixado na App Store da Apple. É cobrada uma licença anual no valor de R$ 100,00, com possibilidade de renovação. O Footsys Pro permite o cadastro de mais de 30 atletas.<br />
Desde que foi lançado, o Footsys Pro tem chamando a atenção da mídia esportiva brasileira. O nosso sócio-diretor Ricardo Korobinski deu uma entrevista sobre o aplicativo à <strong>CBN Esportes</strong>, que você pode ouvir <a href="https://drive.google.com/open?id=1F3HZulPsRsJs8cf5Vixk86Uncl6Yup1M"><strong>aqui</strong></a>.<br />
Mas a maior satisfação profissional vem do veredito do cliente. No caso, o próprio Zarpelon: &#8220;A DevMaker possibilitou a realização de um sonho profissional. Trabalho sempre efetuado com o maior profissionalismo e alto nível de qualidade”.<br />
You think, We make it.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/conheca-o-footsys-pro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
