<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>administrador &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/author/administrador/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Como aumentar a visibilidade de um aplicativo</title>
		<link>http://devmaker.com.br/aso-visibilidade-do-app/</link>
		<comments>http://devmaker.com.br/aso-visibilidade-do-app/#respond</comments>
		<pubDate>Wed, 15 Aug 2018 17:49:48 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[App store]]></category>
		<category><![CDATA[ASO - App Store Optimization]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4512</guid>
		<description><![CDATA[<p>Imagem: Pixabay Segundo o Statista, há no mercado 3,8 milhões de aplicativos para Android e 2 milhões para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg" rel="attachment wp-att-4518"><img class="aligncenter size-large wp-image-4518" src="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg" alt="mobile-phone-1087845_1280" width="1024" height="724" srcset="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-300x212.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-768x543.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Imagem: Pixabay</h6>
<p>Segundo o <a href="https://www.statista.com/statistics/276623/number-of-apps-available-in-leading-app-stores/">Statista</a>, há no mercado <strong>3,8 milhões</strong> de aplicativos para Android e <strong>2 milhões</strong> para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua categoria. E é cada vez mais importante desenvolver estratégias para que o app possa ser descoberto pelo cliente nas lojas de apps, e que a descoberta se transforme em conversão: que o cliente baixe o app.</p>
<p>Para isso, fizemos um pequeno <strong>Manual de Sobrevivência na Selva</strong> dos aplicativos. Para ele poder ser descoberto pelo visitante na App Store ou no Google Play. Estratégias para que o app alcance uma alta taxa de downloads em sua categoria.  Em inglês, este processo é chamado de <strong><a href="https://neilpatel.com/blog/app-store-optimization/">ASO &#8212; App Store Optimization</a></strong>.</p>
<p>Um dado da <a href="https://www.storemaven.com/components-of-winning-aso-strategy/"><strong>consultoria Storemaven</strong></a>: a média de tempo que o usuário leva para tomar a decisão de baixar um aplicativo é de 3 a 6 segundos. E <a href="http://techcrunch.com/2013/04/17/forrester-app-discovery-report/">63% dos aplicativos</a> são descobertos pelo usuário quando ele já está na App Store ou no Google Play. Ou seja, a decisão de baixar o app vai depender sobretudo de três elementos ali na tela, naquele momento: o ícone do aplicativo, a sua descrição (que deve ser concisa e objetiva) e a sua boa avaliação pelos outros usuários.</p>
<p>O primeiro fator importante para o sucesso comercial de uma app é entender o cliente: o que o leva a baixar o aplicativo? Muitas vezes, os motivos da decisão de download são contraintuitivos. Por exemplo, os desenvolvedores do app <a href="https://inthemoment.io/"><strong>Moment</strong></a>, disponível para iOS, se deram conta que havia no mercado um segmento de pessoas dispostas a <a href="https://www.inc.com/jeremy-goldman/6-apps-to-stop-your-smartphone-addiction.html">se livrar do vício do smartphone</a>: não queriam mais passar boa parte do dia grudadas a ele. O app permite que o usuário defina limites diários de uso do celular, notificando quando o limite é ultrapassado. A primeira coisa que os criadores do <strong>Moment</strong> fizeram foi criar um ícone clean (e pacífico) ao app.</p>
<p>Uma estratégia eficiente de ASO vai além da <strong>otimização por palavras-chave</strong>. Para que a descoberta se torne conversão, é crucial descobrir quais os elementos criativos que atraíram o usuário e o levaram a baixar o app: as imagens, os vídeos, os selos e textinhos explicativos sobre o app na loja.</p>
<p>Para isso, é fundamental estudar a concorrência. Analise as avaliações que os usuários dão ao app dos concorrentes. Leia os comentários sobre ele. Identifique os recursos do app que mais atraem estes usuários. Identifique os anúncios que funcionam melhor. Por exemplo, a Storemaven identificou os elementos que geram mais impacto aos clientes Android e iPhone na decisão de baixar o aplicativo. O <strong>impacto do ícone</strong>, por exemplo, é maior entre os clientes do iPhone do que do Android: 18% dos usuários do iPhone na AppStore, segundo a pesquisa da Storemaven, dizem se guiar pelo belo visual do app na decisão de baixá-lo, contra a 11% dos usuários do Android no Google Play. Veja o <strong>infográfico</strong> da consultoria <strong><a href="https://downloads.intercomcdn.com/i/o/59211971/ed3726413e14551aebc0b8e4/StoreMaven_infographic_ASO_impact.png">aqui</a></strong>.</p>
<p>Por fim, lembre-se que a tela do smartphone é pequena. Não a polua com excesso de informação sobre o app. Isto vai confundir o visitante. São estas algumas das principais estratégias para aumentar o número de downloads do app na loja. E assim fazê-lo  se destacar na selva de aplicativos no mercado.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/aso-visibilidade-do-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Realidade Aumentada: saiba o que é (e como transformá-la em negócio)</title>
		<link>http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/</link>
		<comments>http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/#respond</comments>
		<pubDate>Tue, 07 Aug 2018 16:38:33 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Realidade Aumentada]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4478</guid>
		<description><![CDATA[<p>Foto: Unsplash.com Vamos falar de futuro? Em poucos anos (mas poucos mesmo) a Realidade Aumentada será ubíqua. Apontar o smartphone para um produto, um prédio &#8212; ou mesmo, que receio!, para outra...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/">Realidade Aumentada: saiba o que é (e como transformá-la em negócio)</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash.jpg" rel="attachment wp-att-4485"><img class="aligncenter size-large wp-image-4485" src="http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash-1024x683.jpg" alt="omar-prestwich-265221-unsplash" width="1024" height="683" srcset="http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/08/omar-prestwich-265221-unsplash-1024x683.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Foto: Unsplash.com</h6>
<p>Vamos falar de futuro? Em poucos anos (mas poucos mesmo) a Realidade Aumentada será ubíqua. Apontar o smartphone para um produto, um prédio &#8212; ou mesmo, que receio!, para outra pessoa &#8212; e obter instantaneamente uma série de dados sobre eles, será ferramenta comum nos aplicativos.</p>
<p>É uma tendência que ainda engatinha. Porém, em 2021 (ou seja, em três anos), o mercado de <strong>RA</strong> <strong><a href="https://9to5mac.com/2017/08/04/worldwide-ar-vr-grow-215b-by-2021/">deverá chegar a US$ 215 bi</a></strong>. Só por comparação, em 2018 será de US$ 17 bilhões.</p>
<p>Uma confusão que se faz é achar que &#8220;Realidade Aumentada&#8221; e &#8220;Realidade Virtual&#8221; são a mesma coisa, mas não são.  A Realidade Virtual permite a imersão do usuário num ambiente 3D. Já a Realidade Aumentada traz elementos do mundo virtual para o real. (Ou seja, ao invés de entrarmos num ambiente tridimensional como na VR, é o 3D que &#8220;entra&#8221; em nosso mundo). O caso mais famoso de Realidade Aumentada é o jogo Pokémon Go, em que os monstrinhos de bolso são inseridos em 3D em lugares reais, por meio da câmera do smartphone. O game, criado pela Niantic (empresa surgida dentro do Google), se tornou febre desde que foi lançado, em julho de 2016.</p>
<blockquote>
<h1>&#8220;A Realidade Aumentada já faz parte do presente. E com ela uma série de negócios e oportunidades&#8221;</h1>
</blockquote>
<p>Games ainda respondem pela maior fatia do mercado de Realidade Aumentada, <strong><a href="https://www.information-age.com/12-hot-augmented-reality-ideas-for-your-business-123471817/">34%</a></strong>. Mas há muitos outros mercados em potencial à <strong>RA</strong> Um deles é o de apps de namoro: o cupido ganhará update. Por meio de ferramentas de reconhecimento facial, os apps de relacionamento por Realidade Aumentada permitirão que as pessoas obtenham dados em tempo real e <em>in loco</em> sobre outra pessoa. Sim, isto levanta uma série de questões éticas e legais que precisam ser examinadas e respondidas. Mas o fato é que esta indústria será ainda mais dinâmica do que já é. A <strong>RA</strong> permitirá o match instantâneo.</p>
<p>Apps de Realidade Aumentada vão ser cada vez mais comuns no marketing (por exemplo, apontar o smartphone para um produto na vitrine e receber na hora uma oferta com desconto), no esporte (conferir um impedimento ou a trajetória da bola num jogo de futebol), em turismo (conferir menus e preços de restaurantes em pelo local). E também na experiência de compra. A Ikea já possui um app que permite que se mude o tamanho e a cor de objetos em 3D, inserindo-os no ambiente da casa do cliente. Por exemplo, para que possamos escolher o sofá ideal para a nossa sala de estar.</p>
<p>Quanto aos games, a Niantic &#8212; depois do sucesso de Pokémon Go &#8212; prepara um novo blockbuster de Realidade Aumentada, &#8220;Harry Potter: Wizards Unite&#8221;, a ser lançado até o final de 2018. Quem quiser saber mais sobre <strong>RA</strong>, vale a pena ler o livro de <strong><a href="http://knowledge.wharton.upenn.edu/article/whats-next-for-the-innovation-behind-google-maps/">Bill Kilday</a></strong>, vice-presidente da Niantic (e ex-executivo do Google, criador do Google Maps), <strong><em>Never Lost Again: The Google Mapping Revolution That Sparked New Industries and Augmented Our Reality</em></strong> (algo como &#8220;Nunca se perca de novo: a revolução de mapeamento do Google que deflagrou novas indústrias e aumentou nossa realidade&#8221;), inédito em português.</p>
<p>Prometemos falar de futuro, mas a Realidade Aumentada já faz parte do presente. E com ela uma série de grandes negócios e oportunidades, que estão bem na palma da mão. Ou do smartphone.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/">Realidade Aumentada: saiba o que é (e como transformá-la em negócio)</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/realidade-aumentada-saiba-o-que-e-e-como-transforma-la-em-negocio/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Entenda as vantagens do app nativo sobre o híbrido</title>
		<link>http://devmaker.com.br/nativo_vs_hibrido/</link>
		<comments>http://devmaker.com.br/nativo_vs_hibrido/#respond</comments>
		<pubDate>Wed, 25 Jul 2018 15:35:38 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativo Híbrido]]></category>
		<category><![CDATA[Aplicativo Nativo]]></category>
		<category><![CDATA[iOs]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4455</guid>
		<description><![CDATA[<p>Imagem: Pixabay Todo mundo sabe que as pessoas adoram seus smartphones. E a principal razão desta afeição são os aplicativos que rodam neles. Por esta razão, nós na DevMaker investimos na qualidade...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/nativo_vs_hibrido/">Entenda as vantagens do app nativo sobre o híbrido</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280.jpg" rel="attachment wp-att-4458"><img class="aligncenter wp-image-4465 size-large" src="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-1024x682.jpg" alt="" width="1024" height="682" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280-1024x682.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/07/smartphone-1894723_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Imagem: Pixabay</h6>
<p>Todo mundo sabe que as pessoas adoram seus smartphones. E a principal razão desta afeição são os aplicativos que rodam neles. Por esta razão, nós na DevMaker investimos na qualidade no desenvolvimento de aplicativos mobile. Entre um desenvolvimento nativo ou híbrido, escolhemos desenvolver apps apenas de forma nativa. Você vai entender o porquê. (Ah, e já explicamos o que significa &#8220;nativo&#8221; e &#8220;híbrido&#8221;).</p>
<p>Pois bem, para começar, vamos dar uma breve explicação sobre os dois tipos de apps.</p>
<p>Aplicativos nativos são programas desenvolvidos para uma plataforma específica (por exemplo, um aplicativo especialmente construído para rodar no iPhone, com o sistema operacional iOS; ou então um app desenvolvido para rodar num smartphone com sistema operacional Android; ou no Windows Phone). Ou seja, um aplicativo nativo é feito para rodar perfeitamente naquele sistema operacional específico, extraindo dele <strong><a href="https://ymedialabs.com/hybrid-vs-native-mobile-apps-the-answer-is-clear">todo o potencial</a></strong>.</p>
<p>Já o aplicativo híbrido é desenvolvido de forma mista, um pouquinho na linguagem de um sistema operacional, um pouquinho na linguagem de outro. Em geral, por baixo da sua casca de aplicativo, o app híbrido puxa o conteúdo da web (por exemplo, do website da empresa proprietária do aplicativo).</p>
<p>O desenvolvimento de um app híbrido pode ser mais econômico. Mas a <strong>qualidade</strong> do nativo ainda é superior.</p>
<p>Há defensores ardorosos de um e outro, com bons argumentos de lado a lado. Porém, do lado nativo, há um argumento imbatível para a sua escolha. O melhor argumento que pode haver em qualquer mercado.</p>
<p>Que argumento é este?</p>
<p><strong>É a experiência do usuário.</strong></p>
<p>É fato: as pessoas <em>adoram</em> os smartphones, como já dissemos. Desenvolvem uma relação pessoal com eles. (Você conhece alguém que perdeu o celular e deu de ombros: &#8220;Não tem problema, amanhã eu compro outro&#8221;?). Essa afeição não nasce do aparelho em si, mas sim do que há dentro dele. Em outras palavras &#8212; não custa repetir &#8212; <strong>por causa dos aplicativos</strong>.</p>
<p>Ou seja, o aplicativo tem de dar ao usuário uma ótima experiência de uso. Como há muitos deles no mercado, uma má experiência faz o consumidor abandonar rapidamente o app que não funciona bem. Por exemplo, apenas <strong>16% dos usuários</strong>, segundo pesquisa, tentam instalar mais de uma vez o app que deu &#8220;bug&#8221; <a href="https://info.dynatrace.com/rs/compuware/images/Mobile_App_Survey_Report.pdf">na instalação</a>.</p>
<p>A experiência de uso do app nativo é <strong>incontestavelmente superior</strong>. O aplicativo híbrido tem um desenvolvimento mais rápido e barato. Mas lembre-se sempre do usuário que vai usar o aplicativo. Ele espera que o app não tenha bugs e seja rápido de usar (muitas vezes, o app híbrido, por ter de carregar conteúdo da web, ao contrário do app nativo, cujo pacote de dados já vem completo quando baixado, é de uso mais lento). Ou seja, a expectativa do usuário é que o app tenha uma <strong>performance maravilhosa</strong>.</p>
<p>E aqui jaz o problema do app híbrido. O estilo e a lógica interna do iPhone e do Android são muito diferentes entre si. Quando se constrói um app nativo para cada um deles, estas diferenças são levadas em conta. Por mais habilidoso que seja o desenvolvedor do aplicativo híbrido, ele, tentando criar uma ponte entre os dois estilos, não vai conseguir chegar perto da experiência de usuário do app nativo.</p>
<p>Um <strong>segundo argumento</strong> técnico: você desenvolveu um app híbrido que dependa do carregamento de dados da web. Isso quer dizer que o usuário não poderá usar o aplicativo quando offline (quando não tiver wi-fi por perto, ou o sinal 3G ou 4G estiver ruim ou inexistente). Para não falar de conflitos comuns que os apps híbridos têm com o hardware dos smartphones, como a câmera e o GPS. Isso tudo frustra o usuário.</p>
<p>É um <strong>mercado exigente</strong>, e tudo que esteja abaixo do bom vai, mais cedo ou mais tarde, parar na lixeira do celular. A reação de <strong>92% dos clientes</strong> que tem uma experiência negativa com o aplicativo é em geral uma destas duas opções: 1) nunca mais usá-lo; 2) baixar o aplicativo do concorrente.</p>
<p>É o velho adágio: <strong>o barato sai caro</strong>.</p>
<p>Vamos falar de <strong>custo</strong>.</p>
<p>Talvez, apesar da qualidade ser um argumento forte, o aspecto econômico ainda pese a favor do híbrido. Lembre-se sempre que você não precisa construir as duas versões do aplicativo (iOS e Android) ao mesmo tempo. Por exemplo, o Instagram fez originalmente o seu app para iPhone. E levou dois anos para desenvolver uma versão para Android. <strong>Sim, dois anos</strong>.</p>
<p>Para encerrar, um argumento final a favor do desenvolvimento nativo:<strong> a segurança</strong>. Os apps nativos são mais seguros, pois seu desenvovimento <a href="https://ymedialabs.com/7-step-guide-mobile-app-development">é mais robusto</a>.</p>
<p><strong>Conclusão</strong><br />
Tudo isso nos levou, na DevMaker, a adotar o desenvolvimento nativo.<br />
Nossa filosofia é a de que o aplicativo deve dar ao usuário uma experiência superior de uso, em todos os seus aspectos. Não é nosso interesse fazer aplicativos híbridos (uma espécie de &#8220;Produto Mínimo Viável&#8221;), rapidamente lançáveis, mas que darão problemas mais adiante. É claro que a qualidade superior tem um custo. No entanto, por trás do custo talvez mais elevado, <strong>os benefícios do aplicativo nativo são claramente superiores</strong>.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/nativo_vs_hibrido/">Entenda as vantagens do app nativo sobre o híbrido</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/nativo_vs_hibrido/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>App em Destaque: Buscaki, o app que conecta prestadores de serviços e clientes</title>
		<link>http://devmaker.com.br/app-em-destaque-buscaki/</link>
		<comments>http://devmaker.com.br/app-em-destaque-buscaki/#respond</comments>
		<pubDate>Fri, 20 Jul 2018 18:12:39 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Cases]]></category>
		<category><![CDATA[Sem categoria]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4443</guid>
		<description><![CDATA[<p>Não há estatísticas que comprovem; porém, uma coisa bem sabida é que só uma ínfima parcela da população guarda cartões de visita (do encanador, do eletricista, da doceira), e quando...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/app-em-destaque-buscaki/">App em Destaque: Buscaki, o app que conecta prestadores de serviços e clientes</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/07/inicial.png" rel="attachment wp-att-4447"><img class="aligncenter size-full wp-image-4447" src="http://devmaker.com.br/wp-content/uploads/2018/07/inicial.png" alt="inicial" width="429" height="466" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/inicial-276x300.png 276w, http://devmaker.com.br/wp-content/uploads/2018/07/inicial.png 429w" sizes="(max-width: 429px) 100vw, 429px" /></a>Não há estatísticas que comprovem; porém, uma coisa bem sabida é que só uma ínfima parcela da população guarda cartões de visita (do encanador, do eletricista, da doceira), e quando precisa dos préstimos destes profissionais&#8230; cadê o cartão? O Buscaki é um aplicativo feito para resolver situações assim. É um app que nós desenvolvemos para iOS e Android que <strong>conecta o cliente com prestadores de serviço</strong>. Por meio do <strong><a href="http://buscaki.com">Buscaki</a></strong>, você encontra profissionais em vinte categorias (e mais de duzentos tipos de serviços prestados) próximos a você.</p>
<p>Você precisa de um jardineiro, pintor ou de um mecânico? Acesse o Buscaki.<a href="http://devmaker.com.br/wp-content/uploads/2018/07/chat.png" rel="attachment wp-att-4444"><img class="aligncenter size-full wp-image-4444" src="http://devmaker.com.br/wp-content/uploads/2018/07/chat.png" alt="chat" width="539" height="584" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/chat-277x300.png 277w, http://devmaker.com.br/wp-content/uploads/2018/07/chat.png 539w" sizes="(max-width: 539px) 100vw, 539px" /></a></p>
<p>O Buscaki possibilita não só que você descubra o profissional, mas possa falar com ele <strong>por mensagem ou por chat</strong>. Na hora.</p>
<p>O Buscaki foi construído a partir de ferramentas de geolocalização. Ou seja, quando o cliente faz a busca por um profissional, os primeiros nomes que aparecem para ele são os <strong>mais próximos à sua residência</strong>. O usuário pode cadastrar mais de um endereço no Buscaki. Por exemplo, o usuário pode ter no cadastro a sua residência na cidade, e também o da casa na praia, ou do sítio no interior. E buscar os profissionais mais próximos ao endereço no qual precisará dos serviços.<a href="http://devmaker.com.br/wp-content/uploads/2018/07/agendamento.png" rel="attachment wp-att-4446"><img class="aligncenter size-full wp-image-4446" src="http://devmaker.com.br/wp-content/uploads/2018/07/agendamento.png" alt="agendamento" width="538" height="584" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/agendamento-276x300.png 276w, http://devmaker.com.br/wp-content/uploads/2018/07/agendamento.png 538w" sizes="(max-width: 538px) 100vw, 538px" /></a></p>
<p>A ideia surgiu ao idealizador do app, o empreendedor Felipe Reis, do seu desgosto de, todos os dias, ver a sua caixa de correspondência cheia de panfletos e cartões de visitas. Começou uma pesquisa informal com pessoas conhecidas: quais delas guardavam estes materiais publicitários de profissionais? A resposta: nenhuma. &#8220;O profissional faz um folder ou cartão de visita, gasta cinquenta, cem reais, mas o seu retorno é muitíssimo baixo&#8221;, diz Felipe Reis. Com a ideia germinando, ela tomou corpo, definitivamente, quando Reis consultou um prestador de serviços gerais, se ele anunciaria num app como o idealizado. &#8220;Na hora&#8221;, foi a resposta do profissional. Nascia assim o Buscaki, que já tem cadastrados 240 profissionais. Por enquanto, ele está disponível em Curitiba e região metropolitana. O app possui três planos aos prestadores de serviço: mensal, semestral e anual.<a href="http://devmaker.com.br/wp-content/uploads/2018/07/avaliação.png" rel="attachment wp-att-4445"><img class="aligncenter size-full wp-image-4445" src="http://devmaker.com.br/wp-content/uploads/2018/07/avaliação.png" alt="avaliação" width="537" height="582" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/avaliação-277x300.png 277w, http://devmaker.com.br/wp-content/uploads/2018/07/avaliação.png 537w" sizes="(max-width: 537px) 100vw, 537px" /></a></p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/app-em-destaque-buscaki/">App em Destaque: Buscaki, o app que conecta prestadores de serviços e clientes</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/app-em-destaque-buscaki/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</title>
		<link>http://devmaker.com.br/conheca-o-footsys-pro/</link>
		<comments>http://devmaker.com.br/conheca-o-footsys-pro/#respond</comments>
		<pubDate>Wed, 27 Jun 2018 18:05:49 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Cases]]></category>
		<category><![CDATA[Esporte]]></category>
		<category><![CDATA[Futebol]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4436</guid>
		<description><![CDATA[<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" rel="attachment wp-att-4437"><img class="aligncenter size-full wp-image-4437" src="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" alt="footsys-app-mockup1" width="549" height="449" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1-300x245.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png 549w" sizes="(max-width: 549px) 100vw, 549px" /></a></p>
<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na mão.<br />
Não só um tablet. Mas um tablet rodando o <strong>Footsys Pro</strong>, o aplicativo para iOS que a DevMaker desenvolveu, que emite relatórios em tempo real de avaliação física, volume de treino, histórico e evolução dos atletas.<br />
De norte a sul do Brasil, diversos clubes de futebol já adotaram o Footsys Pro, como, no Paraná, o <strong>Coritiba</strong> (além de várias equipes de futsal), o <strong>Palmeiras</strong> em São Paulo, o <strong>Fluminense</strong> no Rio de Janeiro, e no norte do país o <strong>Paysandu</strong>, o ilustre “Papão da Curuzu” de Belém do Pará.<br />
“Havia uma deficiência na minha área. Os técnicos normalmente faziam o controle dos atletas em planilhas. Outros usavam ainda o papel”, diz o educador físico Eduardo Zarpelon, idealizador do aplicativo. Ele e o sócio Vitor Hugo Padilha são os fundadores da startup <a href="http://footsys.com.br">Footsys</a>, que tem por objetivo oferecer uma solução tecnológica para controles estatísticos de treino em esportes coletivos. O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol.</p>
<blockquote>
<h2>&#8220;O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol&#8221;</h2>
</blockquote>
<p>O Footsys Pro permite aos treinadores e preparadores técnicos cruzar dados dos atletas durante o próprio treino, permitindo que se faça mudanças táticas e técnicas in loco, em tempo real (antigamente, os dados anotados tinham de ser analisados no vestiário, depois do treino).<br />
O aplicativo FootSys Pro pode ser baixado na App Store da Apple. É cobrada uma licença anual no valor de R$ 100,00, com possibilidade de renovação. O Footsys Pro permite o cadastro de mais de 30 atletas.<br />
Desde que foi lançado, o Footsys Pro tem chamando a atenção da mídia esportiva brasileira. O nosso sócio-diretor Ricardo Korobinski deu uma entrevista sobre o aplicativo à <strong>CBN Esportes</strong>, que você pode ouvir <a href="https://drive.google.com/open?id=1F3HZulPsRsJs8cf5Vixk86Uncl6Yup1M"><strong>aqui</strong></a>.<br />
Mas a maior satisfação profissional vem do veredito do cliente. No caso, o próprio Zarpelon: &#8220;A DevMaker possibilitou a realização de um sonho profissional. Trabalho sempre efetuado com o maior profissionalismo e alto nível de qualidade”.<br />
You think, We make it.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/conheca-o-footsys-pro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Como a Harley-Davidson turbinou as vendas com Inteligência Artificial</title>
		<link>http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/</link>
		<comments>http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/#respond</comments>
		<pubDate>Fri, 22 Jun 2018 19:22:09 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Marketing]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4429</guid>
		<description><![CDATA[<p>Foto: Shutterstock Depois de incrementar o seu marketing com Inteligência Artificial, a concessionária de Nova York da Harley-Davidson catapultou as vendas: de duas motos por semana para quinze motos. Plataformas...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/">Como a Harley-Davidson turbinou as vendas com Inteligência Artificial</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280.jpg" rel="attachment wp-att-4430"><img class="aligncenter size-large wp-image-4430" src="http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280-1024x740.jpg" alt="harley-davidson-2529974_1280" width="1024" height="740" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280-300x217.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280-768x555.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280-1024x740.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/06/harley-davidson-2529974_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Foto: Shutterstock</h6>
<p>Depois de incrementar o seu marketing com <strong>Inteligência Artificial</strong>, a concessionária de Nova York da <strong>Harley-Davidson</strong> catapultou as vendas: de duas motos por semana para quinze motos.<br />
Plataformas de Inteligência Artificial estão o mudando o jeito dos anunciantes fazerem marketing, com efeitos espetaculares. Mas vamos à história da Harley.<br />
A concessionária de Nova York do fabricante de motocicletas, no coração de Manhattan, estava passando por uma maré baixa, fechando apenas uma ou duas vendas por semana. Era pouco.<br />
Foi durante um encontro casual que o dono da concessionária da Harley-Davidson encontrou a solução ao seu problema. O empresário estava fazendo jogging num parque nova-iorquino quando trombou com o presidente da <strong>Adgorithm</strong>, empresa de marketing por Inteligência Artificial. Os dois começaram a conversar. A conversa rumou às vendas fracas da marca de motos em Nova York, e, claro, o presidente da Adgorithm propôs o serviço da sua plataforma de Inteligência Artificial para turbinar as vendas das motocicletas.<br />
A proposta ouvida não chegou a entusiasmar o dono da concessionária. A Adgorithm usaria um robô que analisaria canais de internet como Google e Facebook, otimizando e adaptando a mensagem publicitária de acordo com a coleta de dados. Mas relutantemente concedeu em fazer um teste com a empresa.<br />
Na primeira semana depois do início do teste, a loja de Manhattan vendeu quinze motocicletas. Em três meses, os <em>leads</em> de vendas (contatos de novos clientes em potencial) <a href="https://hbr.org/2017/05/how-harley-davidson-used-predictive-analytics-to-increase-new-york-sales-leads-by-2930">aumentaram em 2930%</a>.<br />
Sim, não é erro de digitação: quase três mil por cento.<br />
No marketing tradicional, costumava-se jogar com perfis idealizados de consumidores, em parte baseados na experiência prévia de vendas (a carteira de antigos clientes), em parte no bom e velho palpite: quem o marqueteiro <em>achava</em> que poderia vir a se tornar cliente. A Inteligência Artificial mudou esse jogo. O robô da Adgorithm analisou todos os consumidores que tiveram algum contato com a loja de motos, identificando os seus melhores clientes: quem concluiu a compra, quem ao menos adicionou um item ao carrinho de compras na loja virtual (mesmo que depois não tenha concluído a compra), quem visualizou o conteúdo do website. Identificou também as pessoas que compunham o “top 25%” em termos do tempo despendido no site da fabricante de motos (os fãs da marca). De posse destes dados, fez uma varredura, no Google e nas redes sociais, como Facebook e Instagram, de consumidores que nunca tinham tido contato com a marca Harley-Davidson, mas cujo perfil se parecia ao da clientela da loja.<br />
As descobertas feitas nesta busca foram surpreendentes. Pessoas cujo perfil nunca antes, pelo marketing tradicional, despertaram a suspeita de que poderiam se tornar clientes da Harley-Davidson subitamente se revelaram ávidos compradores de suas motos. Um novo perfil de clientela surgiu das descobertas feitas com o auxílio da Inteligência Artificial.<br />
O marketing pela Inteligência Artificial é um mundo novo, em desbravamento. Mas os resultados são palpáveis. “A adoção da inteligência artificial no marketing só tende a aumentar, à medida que as empresas começam a entender como lucrar com a segmentação em tempo real de clientes, com as mensagens personalizadas, com a previsão de valor por cliente, e com a otimização nas compras de mídia publicitária”, diz Dave Sutton, autor do livro<strong> <em><a href="https://www.linkedin.com/pulse/how-marketers-can-interrupt-marketing-dave-sutton">Marketing Interrupted</a></em> </strong>(“Marketing Interrompido”, lançado recentemente, ainda inédito no Brasil), sobre a chegada da Inteligência Artificial ao mundo do marketing.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/">Como a Harley-Davidson turbinou as vendas com Inteligência Artificial</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/como-harley-davidson-turbinou-as-vendas-com-inteligencia-artificial/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</title>
		<link>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/</link>
		<comments>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/#respond</comments>
		<pubDate>Fri, 22 Jun 2018 18:21:14 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Advocacia]]></category>
		<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Watson]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4420</guid>
		<description><![CDATA[<p>Imagens: Pixabay/ Arte: Estúdio AO Em 2016, a maior contratação da Baker &#38; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" rel="attachment wp-att-4426"><img class="aligncenter size-full wp-image-4426" src="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" alt="AI" width="1019" height="689" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-300x203.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-768x519.png 768w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png 1019w" sizes="(max-width: 1019px) 100vw, 1019px" /></a></p>
<h6 style="text-align: right;">Imagens: Pixabay/ Arte: Estúdio AO</h6>
<p>Em 2016, a maior contratação da Baker &amp; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi o Ross.<br />
Ross aprimorou a pesquisa jurídica da firma, fornecendo as respostas mais relevantes às questões levantadas pelos advogados da B&amp;H, e não as centenas – ou milhares – de respostas possíveis que uma pesquisa tradicional (seja em alfarrábios ou pelo Google) elencaria. Ross também começou a monitorar constantemente os litígios em curso nos tribunais, notificando os colegas sobre decisões judiciais recentes que pudessem afetar seus casos.<br />
Ross não é advogado. <a href="https://rossintelligence.com/">Ross</a> é um robô, desenvolvido a partir da plataforma do Watson da IBM. Os advogados dos escritórios da B&amp;H podem consultá-lo por aplicativo em seus smartphones. O Brasil também já tem o seu “Ross”: é o <a href="https://veja.abril.com.br/economia/primeiro-advogado-robo-do-pais-acelera-processos/">ELI</a>.<br />
A Inteligência Artificial representa um ganho de produtividade aos escritórios de advocacia. Segundo a Veja, uma das vantagens do robô no escritório é a da redução de prazos para montagem de processos.</p>
<blockquote>
<h2>&#8220;Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico&#8221;</h2>
</blockquote>
<p>Muitos advogados veem com suspeita e temor a entrada da Inteligência Artificial em seu campo de atuação. Mas são sentimentos infundados. Robôs como o Ross e o ELI fazem o trabalho braçal da profissão, liberando os jurisconsultos às atividades propriamente intelectuais da atividade jurídica, bem como o cultivo da relação com o cliente. O advogado-robô é uma ferramenta que veio para ficar no mercado.<br />
O desenvolvimento de apps de Inteligência Jurídica é uma realidade.<br />
A DevMaker faz parte desta realidade. Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico: aplicativos construídos com a plataforma de Inteligência Artificial do Watson. Muito provavelmente um app estará no rol de contratações dos departamentos jurídicos das empresas num futuro bem próximo.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>DevMaker e IBM: a parceria que coloca o Watson em nossos apps</title>
		<link>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/</link>
		<comments>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/#respond</comments>
		<pubDate>Wed, 20 Jun 2018 18:02:21 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Watson]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4412</guid>
		<description><![CDATA[<p>Imagem: Pexels O Watson da IBM dispensa apresentações. A plataforma de Inteligência Artificial tem sido adotada com velocidade crescente no mundo dos negócios. E a DevMaker está utilizando o Watson...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/">DevMaker e IBM: a parceria que coloca o Watson em nossos apps</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948.jpg" rel="attachment wp-att-4413"><img class="aligncenter size-large wp-image-4413" src="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-1024x623.jpg" alt="abstract-ai-art-355948" width="1024" height="623" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-300x182.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-768x467.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-1024x623.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;"><em>Imagem: Pexels</em></h6>
<p style="text-align: left;">O Watson da IBM dispensa apresentações. A plataforma de Inteligência Artificial tem sido adotada com velocidade crescente no mundo dos negócios. E a DevMaker está utilizando o Watson no desenvolvimento de aplicativos para smartphone.<br />
Nós podemos construir o seu app com a capacidade de Inteligência Artificial do Watson. Isso porque a DevMaker se tornou parceira de negócios da IBM. O programa PartnerWorld da gigante de computação nos deu acesso à IBM Cloud, as ferramentas em nuvem para o desenvolvimento otimizado e acelerado de aplicativos móveis. Nossa equipe recebeu treinamento no uso das ferramentas na sede da IBM em Curitiba. O coração da IBM Cloud – ou melhor, o seu cérebro – é o Watson.</p>
<blockquote>
<h2>&#8220;Nós podemos construir o seu app com a capacidade de Inteligência Artificial do Watson. Isso porque a DevMaker se tornou parceira de negócios da IBM&#8221;</h2>
</blockquote>
<p>O Watson foi criado a partir do programa DeepQA da IBM (algo como “Pergunta &amp; Resposta Profunda”), entre 2007 e 2011. Ele é, como indica o nome do programa, um sistema de computador de perguntas e respostas. Foi desenvolvido com a capacidade de distinguir o que está sendo perguntado, e de dar à pergunta uma resposta precisa. Ele também tem o poder de avaliar a probabilidade da resposta dada ser realmente a correta. Um detalhe importante: quanto mais o Watson é alimentado por dados, e mais os analisa, mais aumenta a sua calibragem e sintonia fina nas respostas. O uso aperfeiçoa a sua capacidade de resposta.<br />
Nós gostaríamos de salientar um dos destaques do Watson, o seu sistema de reconhecimento visual.<br />
O <strong>IBM Watson™ Visual Recognition</strong> é um sistema que analisa imagens fotográficas e, a partir delas, dá diagnósticos sobre uma situação concreta ilustrada pela imagem. Por exemplo, aplicativos alimentados pelo Watson estão auxiliando firmas de engenharia na identificação do grau de oxidação, corrosão e ferrugem de estruturas de ferro, como pontes. O usuário tira, com o seu smartphone, uma foto da ponte (para ficar no exemplo), arrastando a foto para dentro do aplicativo. O Watson toma a imagem, a divide em várias áreas retangulares menores, e então analisa cada uma destas áreas. Como num mapa de calor, o aplicativo diagnostica os graus de comprometimento da ponte, como na foto abaixo: as áreas em vermelho mais intenso são as mais afetadas pela corrosão.</p>
<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/rust.jpg" rel="attachment wp-att-4414"><img class="aligncenter size-large wp-image-4414" src="http://devmaker.com.br/wp-content/uploads/2018/06/rust-1024x576.jpg" alt="rust" width="1024" height="576" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/rust-300x169.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/rust-768x432.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/rust-1024x576.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/06/rust.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;"><em>Imagem: Divulgação IBM</em></h6>
<p>Esta é só uma possibilidade do IBM Watson™ Visual Recognition. Ele pode ser usado na análise de produtos perecíveis numa rede de distribuição. Pode auxiliar clínicas médicas na análise de imagens. Enfim&#8230;<br />
Para cada demanda específica nós aqui na DevMaker podemos desenvolver aplicativos correspondentes com o Watson. Firmas do setor jurídico, por exemplo, estão se beneficiando enormemente de aplicativos com o Watson – mas esse é assunto do nosso <strong><a href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">próximo post</a></strong>.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/">DevMaker e IBM: a parceria que coloca o Watson em nossos apps</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Geolocalização – Crie um grande negócio com ela</title>
		<link>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/</link>
		<comments>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 15:03:54 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Geolocalização]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4402</guid>
		<description><![CDATA[<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850.jpg" rel="attachment wp-att-4406"><img class="aligncenter size-large wp-image-4406" src="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg" alt="blur-close-up-colorful-1078850" width="1024" height="683" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o<br />
GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de<br />
uma pessoa ou aparelho por meio do processamento de informação digital pela internet.<br />
O que não é tão evidente é o potencial de bons negócios que se escondem sob essa<br />
bandeira, “geolocalização”.<br />
Até mesmo num mercado saturado como o de mobilidade urbana e transporte<br />
inteligente – o da conexão de passageiros e motoristas –, é possível cavar nichos, encontrar<br />
um diferencial interessante, e gerar um bom negócio. O exemplo aqui é prata da casa, o<br />
aplicativo <strong>55</strong>, que nós criamos para o<a href="http://www.55elo.com/"> serviço 55</a>. O app foi desenvolvido por nós para Android e iPhone.<br />
Tecnicamente falando, o 55 é similar ao Uber ou ao 99 – é uma plataforma de<br />
tecnologia que conecta motoristas com usuários por meio de um aplicativo. Mas o serviço<br />
trouxe diferenciais. Entre as opções de motorista, o passageiro pode escolher se quer que ser<br />
transportado por alguém do sexo masculino ou feminino. A escolha é feita no app. Muitas<br />
mulheres preferem ser transportadas por outras mulheres. Às vezes, os pais preferem que<br />
uma motorista mulher leve os filhos à escola ou ao dentista.<br />
O 55 veio suprir essa demanda do mercado. Desde que foi lançado (por enquanto em<br />
Curitiba e região), em dezembro de 2017, o serviço vem crescendo rapidamente. É um case de<br />
sucesso que nos enche de orgulho. Prata da casa? Ouro, seria melhor dizer.<br />
Quer outro exemplo de app que transformou a geolocalização em bom negócio?<br />
O <strong>Postmates</strong>.</p>
<p>O app surgiu nos EUA, em 2015, como um sistema inteligente de delivery de comida. O<br />
cliente faz (de casa, do trabalho, ou de onde estiver) um pedido num restaurante que tenha<br />
parceira comercial com o aplicativo, e o motorista/entregador do Postmates (geograficamente<br />
mais próximo do estabelecimento) apanha as iguarias e as entrega no local designado pelo<br />
cliente. No aplicativo, é possível acompanhar o trajeto do entregador, e quantos minutos<br />
faltam para a comida chegar. Em San Francisco e Nova York, muitos dos entregadores usam<br />
bicicleta.<br />
O Postmates expandiu, e hoje faz entrega de virtualmente qualquer mercadoria: roupas,<br />
tênis, compras de supermercado&#8230; o que você imaginar.<br />
Diversos concorrentes surgiram na esteira do Postmates, inclusive no Brasil (como<br />
Rappi e o Glovo): aplicativos de serviços que “entregam de tudo”, como um vinho rosé às quatro<br />
da manhã, ou o xampu que faltou às nove da noite. Mas dentro desse “entregar de tudo” ainda<br />
há muito espaço no mercado para serviços nichados. A imaginação é o limite. (Sobre o<br />
Postmates, é uma pena que não possa ser acessado no Brasil, e gera uma antipática mensagem<br />
de acesso negado, no <a href="https://postmates.com/">website</a>).<br />
Já o <strong>Deliveries</strong>, app <a href="https://fueled.com/blog/app-of-the-week-deliveries/">recentemente lançado</a>, também no mercado norte-americano, permite que você saiba<br />
exatamente estão onde as suas encomendas de FedEx, Amazon, UPS etc. E quantos dias<br />
faltam para serem entregues. É um aplicativo que organiza num só lugar o emaranhado de<br />
informações: múltiplos pedidos e itinerários, múltiplas empresas de transporte de<br />
mercadorias, múltiplos locais de envio, múltiplas datas de recebimento. Mal foi lançado, o app<br />
acabou de ser eleito o melhor “tracker” (rastreador) de mercadorias entre os aplicativos Android, pelo site <a href="https://www.androidcentral.com/best-delivery-apps- android">Android Central</a>.<br />
São casos que servem de inspiração para inovar.<br />
E, claro, nós queremos desenvolver o aplicativo do seu negócio inovador. Queremos ser o<br />
parceiro estratégico na história de sucesso do seu empreendimento.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Um app para cortar o uso de papel na empresa</title>
		<link>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/</link>
		<comments>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 14:38:55 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Redução de custos]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4390</guid>
		<description><![CDATA[<p>Certa vez, um executivo brasileiro disse que “custo é como unha: tem de cortar toda semana”. Uma dessas “unhas” é a redução de papel na empresa. Substituir o papel por informação digital...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/">Um app para cortar o uso de papel na empresa</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159.jpg" rel="attachment wp-att-4397"><img class="alignleft wp-image-4397 size-large" src="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-1024x654.jpg" alt="app-blur-business-221159" width="1024" height="654" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-300x192.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-768x490.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-1024x654.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Certa vez, um executivo brasileiro disse que “custo é como unha: tem de cortar toda semana”.<br />
Uma dessas “unhas” é a redução de papel na empresa. Substituir o papel por informação digital reduz comprovadamente o custo operacional e aumenta a eficiência das organizações.<br />
Segundo o Paperless Project, projeto de uma entidade global de sustentabilidade, a troca do papel pelo digital pode economizar em <a href="http://businessworld-usa.com/cutting-costs-in-financial-services-starts-with-paper/">até 40% o tempo</a> do funcionário. Em 2015, a Telefónica, na Europa, completou a transição, tornando-se uma empresa 100% digital – paperless, seus escritórios não usam mais papel.<br />
À redução de papel, há muitos aplicativos genéricos no mercado. A executiva Lora Milhova, gestora estratégica da transição digital na Telefónica, listou alguns dos apps utilizados então, como o aplicativo de assinatura digital da Adobe, e também o Evernote (app para tomar notas) e o BoxNote (app para brainstorming). O artigo de Lora pode ser lido <a href="https://www.workwiseuk.org/blog/2015/6/22/paperless-office-ten-top-apps-to-help-you- ditch-paper-by-lora-milhova-strategy-manager-at-telefonica">aqui</a>.<br />
Porém, cada empresa possui características próprias e desafios particulares na luta contra o papel. Na DevMaker, nós construímos para um cliente, recentemente, um sistema web cirurgicamente desenhado às suas demandas nesta questão. Para a Uningressos, nós criamos o <strong>UNIngresso</strong>, aplicação que usa um site como interface, que reduziu o <a href="http://devmaker.com.br/portfolio/uningresso/">gasto de papel</a> e aumentou a eficiência da empresa no atendimento ao público.</p>
<h2 style="text-align: center;">&#8220;O sistema representou uma economia gigantesca de papel&#8221;</h2>
<p style="text-align: left;">A Uningressos é especialista em serviços de venda de ingressos a eventos, shows e feiras.<br />
O aplicativo criado possui um leitor de código de barras, que checa digitalmente os bilhetes<br />
dos espectadores/ clientes nas filas de entrada dos eventos organizados pela empresa. O<br />
aplicativo não só representou uma economia gigantesca de papel. Aumentou a satisfação do<br />
cliente da Uningressos, pois o tempo de espera, nas filas dos eventos, foi drasticamente<br />
reduzido.<br />
Nosso objetivo é criar um aplicativo customizado às necessidades da sua companhia.<br />
Uma dessas necessidades é a redução de custos e a transição do papel ao digital.<br />
Ah, para finalizar: talvez você tenha ficado curioso em saber quem é o autor da pitoresca<br />
frase sobre unhas e custos.<br />
Ela é muitas vezes creditada ao bilionário investidor Jorge Paulo Lemann. Mas na<br />
verdade o seu autor é o ex-diretor geral da Lacta e ex-presidente da Brahma e da Ambev<br />
Magim Rodriguez Junior, hoje em dia criador de gado. (Lemann e Magim trabalharam juntos<br />
na fusão da Brahma e da Antarctica, e talvez a confusão venha daí. É um detalhe, claro. Mas<br />
nós somos assim, minuciosos).</p>
<p style="text-align: left;">O que vale dizer é que você não precisa ser assim &#8216;uma Ambev&#8217; para investir num aplicativo para reduzir seus custos. É uma ilusão que só grandes empresas podem se dar ao luxo de criar um aplicativo próprio. O custo de criação de um app é bem mais em conta do que se imagina. Venha falar conosco.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/">Um app para cortar o uso de papel na empresa</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
