<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>iPhone &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/iphone/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Como aumentar a visibilidade de um aplicativo</title>
		<link>http://devmaker.com.br/aso-visibilidade-do-app/</link>
		<comments>http://devmaker.com.br/aso-visibilidade-do-app/#respond</comments>
		<pubDate>Wed, 15 Aug 2018 17:49:48 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[App store]]></category>
		<category><![CDATA[ASO - App Store Optimization]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4512</guid>
		<description><![CDATA[<p>Imagem: Pixabay Segundo o Statista, há no mercado 3,8 milhões de aplicativos para Android e 2 milhões para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg" rel="attachment wp-att-4518"><img class="aligncenter size-large wp-image-4518" src="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg" alt="mobile-phone-1087845_1280" width="1024" height="724" srcset="http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-300x212.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-768x543.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280-1024x724.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/08/mobile-phone-1087845_1280.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;">Imagem: Pixabay</h6>
<p>Segundo o <a href="https://www.statista.com/statistics/276623/number-of-apps-available-in-leading-app-stores/">Statista</a>, há no mercado <strong>3,8 milhões</strong> de aplicativos para Android e <strong>2 milhões</strong> para iPhone. Ou seja, é cada vez mais árduo um app se destacar em sua categoria. E é cada vez mais importante desenvolver estratégias para que o app possa ser descoberto pelo cliente nas lojas de apps, e que a descoberta se transforme em conversão: que o cliente baixe o app.</p>
<p>Para isso, fizemos um pequeno <strong>Manual de Sobrevivência na Selva</strong> dos aplicativos. Para ele poder ser descoberto pelo visitante na App Store ou no Google Play. Estratégias para que o app alcance uma alta taxa de downloads em sua categoria.  Em inglês, este processo é chamado de <strong><a href="https://neilpatel.com/blog/app-store-optimization/">ASO &#8212; App Store Optimization</a></strong>.</p>
<p>Um dado da <a href="https://www.storemaven.com/components-of-winning-aso-strategy/"><strong>consultoria Storemaven</strong></a>: a média de tempo que o usuário leva para tomar a decisão de baixar um aplicativo é de 3 a 6 segundos. E <a href="http://techcrunch.com/2013/04/17/forrester-app-discovery-report/">63% dos aplicativos</a> são descobertos pelo usuário quando ele já está na App Store ou no Google Play. Ou seja, a decisão de baixar o app vai depender sobretudo de três elementos ali na tela, naquele momento: o ícone do aplicativo, a sua descrição (que deve ser concisa e objetiva) e a sua boa avaliação pelos outros usuários.</p>
<p>O primeiro fator importante para o sucesso comercial de uma app é entender o cliente: o que o leva a baixar o aplicativo? Muitas vezes, os motivos da decisão de download são contraintuitivos. Por exemplo, os desenvolvedores do app <a href="https://inthemoment.io/"><strong>Moment</strong></a>, disponível para iOS, se deram conta que havia no mercado um segmento de pessoas dispostas a <a href="https://www.inc.com/jeremy-goldman/6-apps-to-stop-your-smartphone-addiction.html">se livrar do vício do smartphone</a>: não queriam mais passar boa parte do dia grudadas a ele. O app permite que o usuário defina limites diários de uso do celular, notificando quando o limite é ultrapassado. A primeira coisa que os criadores do <strong>Moment</strong> fizeram foi criar um ícone clean (e pacífico) ao app.</p>
<p>Uma estratégia eficiente de ASO vai além da <strong>otimização por palavras-chave</strong>. Para que a descoberta se torne conversão, é crucial descobrir quais os elementos criativos que atraíram o usuário e o levaram a baixar o app: as imagens, os vídeos, os selos e textinhos explicativos sobre o app na loja.</p>
<p>Para isso, é fundamental estudar a concorrência. Analise as avaliações que os usuários dão ao app dos concorrentes. Leia os comentários sobre ele. Identifique os recursos do app que mais atraem estes usuários. Identifique os anúncios que funcionam melhor. Por exemplo, a Storemaven identificou os elementos que geram mais impacto aos clientes Android e iPhone na decisão de baixar o aplicativo. O <strong>impacto do ícone</strong>, por exemplo, é maior entre os clientes do iPhone do que do Android: 18% dos usuários do iPhone na AppStore, segundo a pesquisa da Storemaven, dizem se guiar pelo belo visual do app na decisão de baixá-lo, contra a 11% dos usuários do Android no Google Play. Veja o <strong>infográfico</strong> da consultoria <strong><a href="https://downloads.intercomcdn.com/i/o/59211971/ed3726413e14551aebc0b8e4/StoreMaven_infographic_ASO_impact.png">aqui</a></strong>.</p>
<p>Por fim, lembre-se que a tela do smartphone é pequena. Não a polua com excesso de informação sobre o app. Isto vai confundir o visitante. São estas algumas das principais estratégias para aumentar o número de downloads do app na loja. E assim fazê-lo  se destacar na selva de aplicativos no mercado.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aso-visibilidade-do-app/">Como aumentar a visibilidade de um aplicativo</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/aso-visibilidade-do-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</title>
		<link>http://devmaker.com.br/conheca-o-footsys-pro/</link>
		<comments>http://devmaker.com.br/conheca-o-footsys-pro/#respond</comments>
		<pubDate>Wed, 27 Jun 2018 18:05:49 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Cases]]></category>
		<category><![CDATA[Esporte]]></category>
		<category><![CDATA[Futebol]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4436</guid>
		<description><![CDATA[<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" rel="attachment wp-att-4437"><img class="aligncenter size-full wp-image-4437" src="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" alt="footsys-app-mockup1" width="549" height="449" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1-300x245.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png 549w" sizes="(max-width: 549px) 100vw, 549px" /></a></p>
<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na mão.<br />
Não só um tablet. Mas um tablet rodando o <strong>Footsys Pro</strong>, o aplicativo para iOS que a DevMaker desenvolveu, que emite relatórios em tempo real de avaliação física, volume de treino, histórico e evolução dos atletas.<br />
De norte a sul do Brasil, diversos clubes de futebol já adotaram o Footsys Pro, como, no Paraná, o <strong>Coritiba</strong> (além de várias equipes de futsal), o <strong>Palmeiras</strong> em São Paulo, o <strong>Fluminense</strong> no Rio de Janeiro, e no norte do país o <strong>Paysandu</strong>, o ilustre “Papão da Curuzu” de Belém do Pará.<br />
“Havia uma deficiência na minha área. Os técnicos normalmente faziam o controle dos atletas em planilhas. Outros usavam ainda o papel”, diz o educador físico Eduardo Zarpelon, idealizador do aplicativo. Ele e o sócio Vitor Hugo Padilha são os fundadores da startup <a href="http://footsys.com.br">Footsys</a>, que tem por objetivo oferecer uma solução tecnológica para controles estatísticos de treino em esportes coletivos. O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol.</p>
<blockquote>
<h2>&#8220;O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol&#8221;</h2>
</blockquote>
<p>O Footsys Pro permite aos treinadores e preparadores técnicos cruzar dados dos atletas durante o próprio treino, permitindo que se faça mudanças táticas e técnicas in loco, em tempo real (antigamente, os dados anotados tinham de ser analisados no vestiário, depois do treino).<br />
O aplicativo FootSys Pro pode ser baixado na App Store da Apple. É cobrada uma licença anual no valor de R$ 100,00, com possibilidade de renovação. O Footsys Pro permite o cadastro de mais de 30 atletas.<br />
Desde que foi lançado, o Footsys Pro tem chamando a atenção da mídia esportiva brasileira. O nosso sócio-diretor Ricardo Korobinski deu uma entrevista sobre o aplicativo à <strong>CBN Esportes</strong>, que você pode ouvir <a href="https://drive.google.com/open?id=1F3HZulPsRsJs8cf5Vixk86Uncl6Yup1M"><strong>aqui</strong></a>.<br />
Mas a maior satisfação profissional vem do veredito do cliente. No caso, o próprio Zarpelon: &#8220;A DevMaker possibilitou a realização de um sonho profissional. Trabalho sempre efetuado com o maior profissionalismo e alto nível de qualidade”.<br />
You think, We make it.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/conheca-o-footsys-pro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Geolocalização – Crie um grande negócio com ela</title>
		<link>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/</link>
		<comments>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 15:03:54 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Geolocalização]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4402</guid>
		<description><![CDATA[<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850.jpg" rel="attachment wp-att-4406"><img class="aligncenter size-large wp-image-4406" src="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg" alt="blur-close-up-colorful-1078850" width="1024" height="683" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o<br />
GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de<br />
uma pessoa ou aparelho por meio do processamento de informação digital pela internet.<br />
O que não é tão evidente é o potencial de bons negócios que se escondem sob essa<br />
bandeira, “geolocalização”.<br />
Até mesmo num mercado saturado como o de mobilidade urbana e transporte<br />
inteligente – o da conexão de passageiros e motoristas –, é possível cavar nichos, encontrar<br />
um diferencial interessante, e gerar um bom negócio. O exemplo aqui é prata da casa, o<br />
aplicativo <strong>55</strong>, que nós criamos para o<a href="http://www.55elo.com/"> serviço 55</a>. O app foi desenvolvido por nós para Android e iPhone.<br />
Tecnicamente falando, o 55 é similar ao Uber ou ao 99 – é uma plataforma de<br />
tecnologia que conecta motoristas com usuários por meio de um aplicativo. Mas o serviço<br />
trouxe diferenciais. Entre as opções de motorista, o passageiro pode escolher se quer que ser<br />
transportado por alguém do sexo masculino ou feminino. A escolha é feita no app. Muitas<br />
mulheres preferem ser transportadas por outras mulheres. Às vezes, os pais preferem que<br />
uma motorista mulher leve os filhos à escola ou ao dentista.<br />
O 55 veio suprir essa demanda do mercado. Desde que foi lançado (por enquanto em<br />
Curitiba e região), em dezembro de 2017, o serviço vem crescendo rapidamente. É um case de<br />
sucesso que nos enche de orgulho. Prata da casa? Ouro, seria melhor dizer.<br />
Quer outro exemplo de app que transformou a geolocalização em bom negócio?<br />
O <strong>Postmates</strong>.</p>
<p>O app surgiu nos EUA, em 2015, como um sistema inteligente de delivery de comida. O<br />
cliente faz (de casa, do trabalho, ou de onde estiver) um pedido num restaurante que tenha<br />
parceira comercial com o aplicativo, e o motorista/entregador do Postmates (geograficamente<br />
mais próximo do estabelecimento) apanha as iguarias e as entrega no local designado pelo<br />
cliente. No aplicativo, é possível acompanhar o trajeto do entregador, e quantos minutos<br />
faltam para a comida chegar. Em San Francisco e Nova York, muitos dos entregadores usam<br />
bicicleta.<br />
O Postmates expandiu, e hoje faz entrega de virtualmente qualquer mercadoria: roupas,<br />
tênis, compras de supermercado&#8230; o que você imaginar.<br />
Diversos concorrentes surgiram na esteira do Postmates, inclusive no Brasil (como<br />
Rappi e o Glovo): aplicativos de serviços que “entregam de tudo”, como um vinho rosé às quatro<br />
da manhã, ou o xampu que faltou às nove da noite. Mas dentro desse “entregar de tudo” ainda<br />
há muito espaço no mercado para serviços nichados. A imaginação é o limite. (Sobre o<br />
Postmates, é uma pena que não possa ser acessado no Brasil, e gera uma antipática mensagem<br />
de acesso negado, no <a href="https://postmates.com/">website</a>).<br />
Já o <strong>Deliveries</strong>, app <a href="https://fueled.com/blog/app-of-the-week-deliveries/">recentemente lançado</a>, também no mercado norte-americano, permite que você saiba<br />
exatamente estão onde as suas encomendas de FedEx, Amazon, UPS etc. E quantos dias<br />
faltam para serem entregues. É um aplicativo que organiza num só lugar o emaranhado de<br />
informações: múltiplos pedidos e itinerários, múltiplas empresas de transporte de<br />
mercadorias, múltiplos locais de envio, múltiplas datas de recebimento. Mal foi lançado, o app<br />
acabou de ser eleito o melhor “tracker” (rastreador) de mercadorias entre os aplicativos Android, pelo site <a href="https://www.androidcentral.com/best-delivery-apps- android">Android Central</a>.<br />
São casos que servem de inspiração para inovar.<br />
E, claro, nós queremos desenvolver o aplicativo do seu negócio inovador. Queremos ser o<br />
parceiro estratégico na história de sucesso do seu empreendimento.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
