<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Esporte &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/esporte/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</title>
		<link>http://devmaker.com.br/conheca-o-footsys-pro/</link>
		<comments>http://devmaker.com.br/conheca-o-footsys-pro/#respond</comments>
		<pubDate>Wed, 27 Jun 2018 18:05:49 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Cases]]></category>
		<category><![CDATA[Esporte]]></category>
		<category><![CDATA[Futebol]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4436</guid>
		<description><![CDATA[<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" rel="attachment wp-att-4437"><img class="aligncenter size-full wp-image-4437" src="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" alt="footsys-app-mockup1" width="549" height="449" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1-300x245.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png 549w" sizes="(max-width: 549px) 100vw, 549px" /></a></p>
<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na mão.<br />
Não só um tablet. Mas um tablet rodando o <strong>Footsys Pro</strong>, o aplicativo para iOS que a DevMaker desenvolveu, que emite relatórios em tempo real de avaliação física, volume de treino, histórico e evolução dos atletas.<br />
De norte a sul do Brasil, diversos clubes de futebol já adotaram o Footsys Pro, como, no Paraná, o <strong>Coritiba</strong> (além de várias equipes de futsal), o <strong>Palmeiras</strong> em São Paulo, o <strong>Fluminense</strong> no Rio de Janeiro, e no norte do país o <strong>Paysandu</strong>, o ilustre “Papão da Curuzu” de Belém do Pará.<br />
“Havia uma deficiência na minha área. Os técnicos normalmente faziam o controle dos atletas em planilhas. Outros usavam ainda o papel”, diz o educador físico Eduardo Zarpelon, idealizador do aplicativo. Ele e o sócio Vitor Hugo Padilha são os fundadores da startup <a href="http://footsys.com.br">Footsys</a>, que tem por objetivo oferecer uma solução tecnológica para controles estatísticos de treino em esportes coletivos. O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol.</p>
<blockquote>
<h2>&#8220;O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol&#8221;</h2>
</blockquote>
<p>O Footsys Pro permite aos treinadores e preparadores técnicos cruzar dados dos atletas durante o próprio treino, permitindo que se faça mudanças táticas e técnicas in loco, em tempo real (antigamente, os dados anotados tinham de ser analisados no vestiário, depois do treino).<br />
O aplicativo FootSys Pro pode ser baixado na App Store da Apple. É cobrada uma licença anual no valor de R$ 100,00, com possibilidade de renovação. O Footsys Pro permite o cadastro de mais de 30 atletas.<br />
Desde que foi lançado, o Footsys Pro tem chamando a atenção da mídia esportiva brasileira. O nosso sócio-diretor Ricardo Korobinski deu uma entrevista sobre o aplicativo à <strong>CBN Esportes</strong>, que você pode ouvir <a href="https://drive.google.com/open?id=1F3HZulPsRsJs8cf5Vixk86Uncl6Yup1M"><strong>aqui</strong></a>.<br />
Mas a maior satisfação profissional vem do veredito do cliente. No caso, o próprio Zarpelon: &#8220;A DevMaker possibilitou a realização de um sonho profissional. Trabalho sempre efetuado com o maior profissionalismo e alto nível de qualidade”.<br />
You think, We make it.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/conheca-o-footsys-pro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
