<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Aplicativos &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/aplicativos/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</title>
		<link>http://devmaker.com.br/conheca-o-footsys-pro/</link>
		<comments>http://devmaker.com.br/conheca-o-footsys-pro/#respond</comments>
		<pubDate>Wed, 27 Jun 2018 18:05:49 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Cases]]></category>
		<category><![CDATA[Esporte]]></category>
		<category><![CDATA[Futebol]]></category>
		<category><![CDATA[iOs]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4436</guid>
		<description><![CDATA[<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" rel="attachment wp-att-4437"><img class="aligncenter size-full wp-image-4437" src="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png" alt="footsys-app-mockup1" width="549" height="449" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1-300x245.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/footsys-app-mockup1.png 549w" sizes="(max-width: 549px) 100vw, 549px" /></a></p>
<p>O treinador de futebol na beira do campo, observando de prancheta em punho o treino é uma imagem que precisa ser atualizada. Troque-a por um treinador com um tablet na mão.<br />
Não só um tablet. Mas um tablet rodando o <strong>Footsys Pro</strong>, o aplicativo para iOS que a DevMaker desenvolveu, que emite relatórios em tempo real de avaliação física, volume de treino, histórico e evolução dos atletas.<br />
De norte a sul do Brasil, diversos clubes de futebol já adotaram o Footsys Pro, como, no Paraná, o <strong>Coritiba</strong> (além de várias equipes de futsal), o <strong>Palmeiras</strong> em São Paulo, o <strong>Fluminense</strong> no Rio de Janeiro, e no norte do país o <strong>Paysandu</strong>, o ilustre “Papão da Curuzu” de Belém do Pará.<br />
“Havia uma deficiência na minha área. Os técnicos normalmente faziam o controle dos atletas em planilhas. Outros usavam ainda o papel”, diz o educador físico Eduardo Zarpelon, idealizador do aplicativo. Ele e o sócio Vitor Hugo Padilha são os fundadores da startup <a href="http://footsys.com.br">Footsys</a>, que tem por objetivo oferecer uma solução tecnológica para controles estatísticos de treino em esportes coletivos. O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol.</p>
<blockquote>
<h2>&#8220;O Footsys Pro pode ser usado também por equipes de vôlei, de basquete, ou de outros esportes de equipe, e não só no futebol&#8221;</h2>
</blockquote>
<p>O Footsys Pro permite aos treinadores e preparadores técnicos cruzar dados dos atletas durante o próprio treino, permitindo que se faça mudanças táticas e técnicas in loco, em tempo real (antigamente, os dados anotados tinham de ser analisados no vestiário, depois do treino).<br />
O aplicativo FootSys Pro pode ser baixado na App Store da Apple. É cobrada uma licença anual no valor de R$ 100,00, com possibilidade de renovação. O Footsys Pro permite o cadastro de mais de 30 atletas.<br />
Desde que foi lançado, o Footsys Pro tem chamando a atenção da mídia esportiva brasileira. O nosso sócio-diretor Ricardo Korobinski deu uma entrevista sobre o aplicativo à <strong>CBN Esportes</strong>, que você pode ouvir <a href="https://drive.google.com/open?id=1F3HZulPsRsJs8cf5Vixk86Uncl6Yup1M"><strong>aqui</strong></a>.<br />
Mas a maior satisfação profissional vem do veredito do cliente. No caso, o próprio Zarpelon: &#8220;A DevMaker possibilitou a realização de um sonho profissional. Trabalho sempre efetuado com o maior profissionalismo e alto nível de qualidade”.<br />
You think, We make it.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/conheca-o-footsys-pro/">Conheça o Footsys Pro, o app para controle estatístico de treino em esportes coletivos</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/conheca-o-footsys-pro/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</title>
		<link>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/</link>
		<comments>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/#respond</comments>
		<pubDate>Fri, 22 Jun 2018 18:21:14 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Advocacia]]></category>
		<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Watson]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4420</guid>
		<description><![CDATA[<p>Imagens: Pixabay/ Arte: Estúdio AO Em 2016, a maior contratação da Baker &#38; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" rel="attachment wp-att-4426"><img class="aligncenter size-full wp-image-4426" src="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" alt="AI" width="1019" height="689" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-300x203.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-768x519.png 768w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png 1019w" sizes="(max-width: 1019px) 100vw, 1019px" /></a></p>
<h6 style="text-align: right;">Imagens: Pixabay/ Arte: Estúdio AO</h6>
<p>Em 2016, a maior contratação da Baker &amp; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi o Ross.<br />
Ross aprimorou a pesquisa jurídica da firma, fornecendo as respostas mais relevantes às questões levantadas pelos advogados da B&amp;H, e não as centenas – ou milhares – de respostas possíveis que uma pesquisa tradicional (seja em alfarrábios ou pelo Google) elencaria. Ross também começou a monitorar constantemente os litígios em curso nos tribunais, notificando os colegas sobre decisões judiciais recentes que pudessem afetar seus casos.<br />
Ross não é advogado. <a href="https://rossintelligence.com/">Ross</a> é um robô, desenvolvido a partir da plataforma do Watson da IBM. Os advogados dos escritórios da B&amp;H podem consultá-lo por aplicativo em seus smartphones. O Brasil também já tem o seu “Ross”: é o <a href="https://veja.abril.com.br/economia/primeiro-advogado-robo-do-pais-acelera-processos/">ELI</a>.<br />
A Inteligência Artificial representa um ganho de produtividade aos escritórios de advocacia. Segundo a Veja, uma das vantagens do robô no escritório é a da redução de prazos para montagem de processos.</p>
<blockquote>
<h2>&#8220;Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico&#8221;</h2>
</blockquote>
<p>Muitos advogados veem com suspeita e temor a entrada da Inteligência Artificial em seu campo de atuação. Mas são sentimentos infundados. Robôs como o Ross e o ELI fazem o trabalho braçal da profissão, liberando os jurisconsultos às atividades propriamente intelectuais da atividade jurídica, bem como o cultivo da relação com o cliente. O advogado-robô é uma ferramenta que veio para ficar no mercado.<br />
O desenvolvimento de apps de Inteligência Jurídica é uma realidade.<br />
A DevMaker faz parte desta realidade. Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico: aplicativos construídos com a plataforma de Inteligência Artificial do Watson. Muito provavelmente um app estará no rol de contratações dos departamentos jurídicos das empresas num futuro bem próximo.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>DevMaker e IBM: a parceria que coloca o Watson em nossos apps</title>
		<link>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/</link>
		<comments>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/#respond</comments>
		<pubDate>Wed, 20 Jun 2018 18:02:21 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Watson]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4412</guid>
		<description><![CDATA[<p>Imagem: Pexels O Watson da IBM dispensa apresentações. A plataforma de Inteligência Artificial tem sido adotada com velocidade crescente no mundo dos negócios. E a DevMaker está utilizando o Watson...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/">DevMaker e IBM: a parceria que coloca o Watson em nossos apps</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948.jpg" rel="attachment wp-att-4413"><img class="aligncenter size-large wp-image-4413" src="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-1024x623.jpg" alt="abstract-ai-art-355948" width="1024" height="623" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-300x182.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-768x467.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-1024x623.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;"><em>Imagem: Pexels</em></h6>
<p style="text-align: left;">O Watson da IBM dispensa apresentações. A plataforma de Inteligência Artificial tem sido adotada com velocidade crescente no mundo dos negócios. E a DevMaker está utilizando o Watson no desenvolvimento de aplicativos para smartphone.<br />
Nós podemos construir o seu app com a capacidade de Inteligência Artificial do Watson. Isso porque a DevMaker se tornou parceira de negócios da IBM. O programa PartnerWorld da gigante de computação nos deu acesso à IBM Cloud, as ferramentas em nuvem para o desenvolvimento otimizado e acelerado de aplicativos móveis. Nossa equipe recebeu treinamento no uso das ferramentas na sede da IBM em Curitiba. O coração da IBM Cloud – ou melhor, o seu cérebro – é o Watson.</p>
<blockquote>
<h2>&#8220;Nós podemos construir o seu app com a capacidade de Inteligência Artificial do Watson. Isso porque a DevMaker se tornou parceira de negócios da IBM&#8221;</h2>
</blockquote>
<p>O Watson foi criado a partir do programa DeepQA da IBM (algo como “Pergunta &amp; Resposta Profunda”), entre 2007 e 2011. Ele é, como indica o nome do programa, um sistema de computador de perguntas e respostas. Foi desenvolvido com a capacidade de distinguir o que está sendo perguntado, e de dar à pergunta uma resposta precisa. Ele também tem o poder de avaliar a probabilidade da resposta dada ser realmente a correta. Um detalhe importante: quanto mais o Watson é alimentado por dados, e mais os analisa, mais aumenta a sua calibragem e sintonia fina nas respostas. O uso aperfeiçoa a sua capacidade de resposta.<br />
Nós gostaríamos de salientar um dos destaques do Watson, o seu sistema de reconhecimento visual.<br />
O <strong>IBM Watson™ Visual Recognition</strong> é um sistema que analisa imagens fotográficas e, a partir delas, dá diagnósticos sobre uma situação concreta ilustrada pela imagem. Por exemplo, aplicativos alimentados pelo Watson estão auxiliando firmas de engenharia na identificação do grau de oxidação, corrosão e ferrugem de estruturas de ferro, como pontes. O usuário tira, com o seu smartphone, uma foto da ponte (para ficar no exemplo), arrastando a foto para dentro do aplicativo. O Watson toma a imagem, a divide em várias áreas retangulares menores, e então analisa cada uma destas áreas. Como num mapa de calor, o aplicativo diagnostica os graus de comprometimento da ponte, como na foto abaixo: as áreas em vermelho mais intenso são as mais afetadas pela corrosão.</p>
<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/rust.jpg" rel="attachment wp-att-4414"><img class="aligncenter size-large wp-image-4414" src="http://devmaker.com.br/wp-content/uploads/2018/06/rust-1024x576.jpg" alt="rust" width="1024" height="576" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/rust-300x169.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/rust-768x432.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/rust-1024x576.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/06/rust.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;"><em>Imagem: Divulgação IBM</em></h6>
<p>Esta é só uma possibilidade do IBM Watson™ Visual Recognition. Ele pode ser usado na análise de produtos perecíveis numa rede de distribuição. Pode auxiliar clínicas médicas na análise de imagens. Enfim&#8230;<br />
Para cada demanda específica nós aqui na DevMaker podemos desenvolver aplicativos correspondentes com o Watson. Firmas do setor jurídico, por exemplo, estão se beneficiando enormemente de aplicativos com o Watson – mas esse é assunto do nosso <strong><a href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">próximo post</a></strong>.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/">DevMaker e IBM: a parceria que coloca o Watson em nossos apps</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Geolocalização – Crie um grande negócio com ela</title>
		<link>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/</link>
		<comments>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 15:03:54 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Geolocalização]]></category>
		<category><![CDATA[iPhone]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4402</guid>
		<description><![CDATA[<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850.jpg" rel="attachment wp-att-4406"><img class="aligncenter size-large wp-image-4406" src="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg" alt="blur-close-up-colorful-1078850" width="1024" height="683" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-300x200.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-768x512.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/blur-close-up-colorful-1078850-1024x683.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Quando a gente fala em geolocalização, a primeira coisa que venha à nossa mente é o<br />
GPS do carro. Trocando em miúdos, geolocalização é o processo de identificação geográfica de<br />
uma pessoa ou aparelho por meio do processamento de informação digital pela internet.<br />
O que não é tão evidente é o potencial de bons negócios que se escondem sob essa<br />
bandeira, “geolocalização”.<br />
Até mesmo num mercado saturado como o de mobilidade urbana e transporte<br />
inteligente – o da conexão de passageiros e motoristas –, é possível cavar nichos, encontrar<br />
um diferencial interessante, e gerar um bom negócio. O exemplo aqui é prata da casa, o<br />
aplicativo <strong>55</strong>, que nós criamos para o<a href="http://www.55elo.com/"> serviço 55</a>. O app foi desenvolvido por nós para Android e iPhone.<br />
Tecnicamente falando, o 55 é similar ao Uber ou ao 99 – é uma plataforma de<br />
tecnologia que conecta motoristas com usuários por meio de um aplicativo. Mas o serviço<br />
trouxe diferenciais. Entre as opções de motorista, o passageiro pode escolher se quer que ser<br />
transportado por alguém do sexo masculino ou feminino. A escolha é feita no app. Muitas<br />
mulheres preferem ser transportadas por outras mulheres. Às vezes, os pais preferem que<br />
uma motorista mulher leve os filhos à escola ou ao dentista.<br />
O 55 veio suprir essa demanda do mercado. Desde que foi lançado (por enquanto em<br />
Curitiba e região), em dezembro de 2017, o serviço vem crescendo rapidamente. É um case de<br />
sucesso que nos enche de orgulho. Prata da casa? Ouro, seria melhor dizer.<br />
Quer outro exemplo de app que transformou a geolocalização em bom negócio?<br />
O <strong>Postmates</strong>.</p>
<p>O app surgiu nos EUA, em 2015, como um sistema inteligente de delivery de comida. O<br />
cliente faz (de casa, do trabalho, ou de onde estiver) um pedido num restaurante que tenha<br />
parceira comercial com o aplicativo, e o motorista/entregador do Postmates (geograficamente<br />
mais próximo do estabelecimento) apanha as iguarias e as entrega no local designado pelo<br />
cliente. No aplicativo, é possível acompanhar o trajeto do entregador, e quantos minutos<br />
faltam para a comida chegar. Em San Francisco e Nova York, muitos dos entregadores usam<br />
bicicleta.<br />
O Postmates expandiu, e hoje faz entrega de virtualmente qualquer mercadoria: roupas,<br />
tênis, compras de supermercado&#8230; o que você imaginar.<br />
Diversos concorrentes surgiram na esteira do Postmates, inclusive no Brasil (como<br />
Rappi e o Glovo): aplicativos de serviços que “entregam de tudo”, como um vinho rosé às quatro<br />
da manhã, ou o xampu que faltou às nove da noite. Mas dentro desse “entregar de tudo” ainda<br />
há muito espaço no mercado para serviços nichados. A imaginação é o limite. (Sobre o<br />
Postmates, é uma pena que não possa ser acessado no Brasil, e gera uma antipática mensagem<br />
de acesso negado, no <a href="https://postmates.com/">website</a>).<br />
Já o <strong>Deliveries</strong>, app <a href="https://fueled.com/blog/app-of-the-week-deliveries/">recentemente lançado</a>, também no mercado norte-americano, permite que você saiba<br />
exatamente estão onde as suas encomendas de FedEx, Amazon, UPS etc. E quantos dias<br />
faltam para serem entregues. É um aplicativo que organiza num só lugar o emaranhado de<br />
informações: múltiplos pedidos e itinerários, múltiplas empresas de transporte de<br />
mercadorias, múltiplos locais de envio, múltiplas datas de recebimento. Mal foi lançado, o app<br />
acabou de ser eleito o melhor “tracker” (rastreador) de mercadorias entre os aplicativos Android, pelo site <a href="https://www.androidcentral.com/best-delivery-apps- android">Android Central</a>.<br />
São casos que servem de inspiração para inovar.<br />
E, claro, nós queremos desenvolver o aplicativo do seu negócio inovador. Queremos ser o<br />
parceiro estratégico na história de sucesso do seu empreendimento.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/">Geolocalização – Crie um grande negócio com ela</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/geolocalizacao-crie-um-grande-negocio-com-ela/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Um app para cortar o uso de papel na empresa</title>
		<link>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/</link>
		<comments>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 14:38:55 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Redução de custos]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4390</guid>
		<description><![CDATA[<p>Certa vez, um executivo brasileiro disse que “custo é como unha: tem de cortar toda semana”. Uma dessas “unhas” é a redução de papel na empresa. Substituir o papel por informação digital...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/">Um app para cortar o uso de papel na empresa</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159.jpg" rel="attachment wp-att-4397"><img class="alignleft wp-image-4397 size-large" src="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-1024x654.jpg" alt="app-blur-business-221159" width="1024" height="654" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-300x192.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-768x490.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-1024x654.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Certa vez, um executivo brasileiro disse que “custo é como unha: tem de cortar toda semana”.<br />
Uma dessas “unhas” é a redução de papel na empresa. Substituir o papel por informação digital reduz comprovadamente o custo operacional e aumenta a eficiência das organizações.<br />
Segundo o Paperless Project, projeto de uma entidade global de sustentabilidade, a troca do papel pelo digital pode economizar em <a href="http://businessworld-usa.com/cutting-costs-in-financial-services-starts-with-paper/">até 40% o tempo</a> do funcionário. Em 2015, a Telefónica, na Europa, completou a transição, tornando-se uma empresa 100% digital – paperless, seus escritórios não usam mais papel.<br />
À redução de papel, há muitos aplicativos genéricos no mercado. A executiva Lora Milhova, gestora estratégica da transição digital na Telefónica, listou alguns dos apps utilizados então, como o aplicativo de assinatura digital da Adobe, e também o Evernote (app para tomar notas) e o BoxNote (app para brainstorming). O artigo de Lora pode ser lido <a href="https://www.workwiseuk.org/blog/2015/6/22/paperless-office-ten-top-apps-to-help-you- ditch-paper-by-lora-milhova-strategy-manager-at-telefonica">aqui</a>.<br />
Porém, cada empresa possui características próprias e desafios particulares na luta contra o papel. Na DevMaker, nós construímos para um cliente, recentemente, um sistema web cirurgicamente desenhado às suas demandas nesta questão. Para a Uningressos, nós criamos o <strong>UNIngresso</strong>, aplicação que usa um site como interface, que reduziu o <a href="http://devmaker.com.br/portfolio/uningresso/">gasto de papel</a> e aumentou a eficiência da empresa no atendimento ao público.</p>
<h2 style="text-align: center;">&#8220;O sistema representou uma economia gigantesca de papel&#8221;</h2>
<p style="text-align: left;">A Uningressos é especialista em serviços de venda de ingressos a eventos, shows e feiras.<br />
O aplicativo criado possui um leitor de código de barras, que checa digitalmente os bilhetes<br />
dos espectadores/ clientes nas filas de entrada dos eventos organizados pela empresa. O<br />
aplicativo não só representou uma economia gigantesca de papel. Aumentou a satisfação do<br />
cliente da Uningressos, pois o tempo de espera, nas filas dos eventos, foi drasticamente<br />
reduzido.<br />
Nosso objetivo é criar um aplicativo customizado às necessidades da sua companhia.<br />
Uma dessas necessidades é a redução de custos e a transição do papel ao digital.<br />
Ah, para finalizar: talvez você tenha ficado curioso em saber quem é o autor da pitoresca<br />
frase sobre unhas e custos.<br />
Ela é muitas vezes creditada ao bilionário investidor Jorge Paulo Lemann. Mas na<br />
verdade o seu autor é o ex-diretor geral da Lacta e ex-presidente da Brahma e da Ambev<br />
Magim Rodriguez Junior, hoje em dia criador de gado. (Lemann e Magim trabalharam juntos<br />
na fusão da Brahma e da Antarctica, e talvez a confusão venha daí. É um detalhe, claro. Mas<br />
nós somos assim, minuciosos).</p>
<p style="text-align: left;">O que vale dizer é que você não precisa ser assim &#8216;uma Ambev&#8217; para investir num aplicativo para reduzir seus custos. É uma ilusão que só grandes empresas podem se dar ao luxo de criar um aplicativo próprio. O custo de criação de um app é bem mais em conta do que se imagina. Venha falar conosco.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/">Um app para cortar o uso de papel na empresa</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>7 métricas para um aplicativo de sucesso</title>
		<link>http://devmaker.com.br/7-metricas-para-um-aplicativo-de-sucesso/</link>
		<comments>http://devmaker.com.br/7-metricas-para-um-aplicativo-de-sucesso/#comments</comments>
		<pubDate>Sat, 25 Nov 2017 18:55:21 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Dicas]]></category>
		<category><![CDATA[aplicativo de sucesso]]></category>
		<category><![CDATA[métricas]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4347</guid>
		<description><![CDATA[<p>Muitos dos nossos clientes nos questionam sobre quais critérios podem utilizar na hora de avaliar o sucesso do seu aplicativo entre os usuários. Existem diversas variáveis que influenciam nesse resultado,...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/7-metricas-para-um-aplicativo-de-sucesso/">7 métricas para um aplicativo de sucesso</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p style="text-align: justify;">Muitos dos nossos clientes nos questionam sobre quais critérios podem utilizar na hora de avaliar o sucesso do seu aplicativo entre os usuários.</p>
<p style="text-align: justify;">Existem diversas variáveis que influenciam nesse resultado, mas dentro dessas a equipe DevMaker separou as 7 que todo empreendedor de aplicativos devem ficar de olho na hora de avaliar o resultado do seu projeto!</p>
<h4 style="text-align: justify;"><a href="http://devmaker.com.br/wp-content/uploads/2017/11/action-labs-insights-09.jpg" rel="attachment wp-att-4350"><img class="aligncenter size-full wp-image-4350" src="http://devmaker.com.br/wp-content/uploads/2017/11/action-labs-insights-09.jpg" alt="action-labs-insights-09" width="1920" height="1080" srcset="http://devmaker.com.br/wp-content/uploads/2017/11/action-labs-insights-09-300x169.jpg 300w, http://devmaker.com.br/wp-content/uploads/2017/11/action-labs-insights-09-768x432.jpg 768w, http://devmaker.com.br/wp-content/uploads/2017/11/action-labs-insights-09-1024x576.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2017/11/action-labs-insights-09.jpg 1920w" sizes="(max-width: 1920px) 100vw, 1920px" /></a></h4>
<h4 style="text-align: justify;">1) Classificação por estrelas</h4>
<p style="text-align: justify;">É a métrica feita pelos usuários, que dão nota através de estrelas (de uma a cinco) para o desempenho do aplicativo. Muitas pessoas levam essa métrica em consideração antes de baixar ou comprar um aplicativo.</p>
<h4 style="text-align: justify;">2) Duração da Sessão</h4>
<p style="text-align: justify;">Essa métrica mostra a quantidade de tempo que os usuários estão gastando no aplicativo por sessão. O quão mais engajados os usuários são, mais longa será a duração da sessão.</p>
<h4 style="text-align: justify;">3) LTV</h4>
<p style="text-align: justify;">Mensura a lealdade dos consumidores, ou seja, o retorno para novas compras. Representa o valor do aplicativo e o quanto cada usuário vale para ele. A partir dessa métrica, é possível criar estratégias para aumentar ainda mais o público leal.</p>
<h4 style="text-align: justify;">4) Taxa de Abandono</h4>
<p style="text-align: justify;">É a taxa de interrupção do processo de compras, na qual o usuário chega a inserir um item no carrinho, mas não conclui a compra. Diminuindo essa taxa, a taxa de conversão melhora significativamente.</p>
<h4 style="text-align: justify;">5) Taxa de Retenção</h4>
<p style="text-align: justify;">A retenção é medida como a percentagem de usuários que retornam ao aplicativo, tendo como base a primeira visita. Baseado nesse índice, é possível identificar quais internautas são mais valiosos e engajados, para assim criar mais oportunidades de segmentação e personalização de experiência com o aplicativo.</p>
<h4 style="text-align: justify;">6) Canais de Aquisição</h4>
<p style="text-align: justify;">Essa métrica permite mostrar como o usuário encontrou o aplicativo, já que há uma ampla variedade de canais, e também saber como os internautas se comportam. Além disso é possível comparar quais canais têm o melhor custo benefício.</p>
<h4 style="text-align: justify;">7) Receita de Transição</h4>
<p style="text-align: justify;">Valor das transações suportadas por um aplicativo. Está ligado diretamente a operação de m-commerce, como compras, viagens e serviços financeiros.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/7-metricas-para-um-aplicativo-de-sucesso/">7 métricas para um aplicativo de sucesso</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/7-metricas-para-um-aplicativo-de-sucesso/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Apple ou Google? A interminável briga das plataformas</title>
		<link>http://devmaker.com.br/apple-ou-google-interminavel-briga-das-plataformas/</link>
		<comments>http://devmaker.com.br/apple-ou-google-interminavel-briga-das-plataformas/#respond</comments>
		<pubDate>Thu, 23 Nov 2017 22:55:40 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Dicas]]></category>
		<category><![CDATA[Android]]></category>
		<category><![CDATA[apple]]></category>
		<category><![CDATA[diferenças]]></category>
		<category><![CDATA[google]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[plataformas]]></category>
		<category><![CDATA[sistema operacional]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4343</guid>
		<description><![CDATA[<p>Na hora de escolher um novo celular existe uma briga interminável entre os usuários sobre qual seria o melhor sistema operacional: IOS ou Android. Normalmente os usuários de cada um...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/apple-ou-google-interminavel-briga-das-plataformas/">Apple ou Google? A interminável briga das plataformas</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p style="text-align: justify;">Na hora de escolher um novo celular existe uma briga interminável entre os usuários sobre qual seria o melhor sistema operacional: IOS ou Android. Normalmente os usuários de cada um desses sistemas é extremamente fiel a sua marca e não a troca se tiver a chance.</p>
<p style="text-align: justify;">Quando pensamos no desenvolvimento de um aplicativo, essa é uma escolha que pode influenciar bastante no custo final, pois cada um desses sistemas exige um tipo de profissional.</p>
<p style="text-align: justify;">Isso acontece porque o sistema Android roda em diversos tipos de aparelhos, das mais variadas marcas, portanto cada uma tem suas próprias características e o seu aplicativo vai ter que ser desenvolvido para se encaixar em todas essas variáveis.</p>
<p style="text-align: justify;">Enquanto no IOS o número de aparelhos é bem mais restrito, portanto os profissionais conseguem desenvolver com mais agilidade e sem perder tempo com pequenos detalhes técnicos do sistema.</p>
<h4 style="text-align: justify;">Mas essa não é a única diferença entre esses sistemas.</h4>
<p style="text-align: justify;"><a href="http://devmaker.com.br/wp-content/uploads/2017/11/apple-vs-android.jpg" rel="attachment wp-att-4345"><img class="aligncenter size-full wp-image-4345" src="http://devmaker.com.br/wp-content/uploads/2017/11/apple-vs-android.jpg" alt="apple-vs-android" width="1200" height="675" srcset="http://devmaker.com.br/wp-content/uploads/2017/11/apple-vs-android-300x169.jpg 300w, http://devmaker.com.br/wp-content/uploads/2017/11/apple-vs-android-768x432.jpg 768w, http://devmaker.com.br/wp-content/uploads/2017/11/apple-vs-android-1024x576.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2017/11/apple-vs-android.jpg 1200w" sizes="(max-width: 1200px) 100vw, 1200px" /></a></p>
<p style="text-align: justify;">Outro aspecto que deve ser levado em consideração é a entrada do aplicativo, quando finalizado, em cada uma dessas lojas de app. Cada um tem seu próprio sistema de taxas e normativas para a liberação da sua ideia para o usuário.</p>
<p style="text-align: justify;">A Apple cobra uma taxa de USD$ 99 anuais e tem um processo de avaliação bem mais rigoroso e detalhado. Ele também é mais lento, mas a vantagem é que após o veredito o desenvolvedor recebe um relatório extremamente completo com todos os detalhes que justificam a resposta da Apple. Isso permite que a equipe se aprimore para as próximas tentativas.</p>
<p style="text-align: justify;">Já no Google o processo é bem mais agilizado, pois a empresa procura dar mais liberdade para os desenvolvedores e seus critérios de aprovação não são tão meticulosos quanto sua concorrente. Como consequência o feedback não chega a ser tão detalhado e pode existir o risco do seu aplicativo seja aprovado sem ter uma experiência interessante para o usuário.</p>
<p style="text-align: justify;">Aqui na DevMaker não importa qual sistema operacional você escolha, ou até se quiser os dois, todos os nossos aplicativos são pensados e planejados para terem a melhor experiência possível para o usuário!</p>
<p style="text-align: justify;">Venha conhecer um pouco mais dos nossos aplicativos em <a href="http://devmaker.com.br/portfolio" target="_blank">devmaker.com.br/portfolio</a>.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/apple-ou-google-interminavel-briga-das-plataformas/">Apple ou Google? A interminável briga das plataformas</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/apple-ou-google-interminavel-briga-das-plataformas/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Aplicativo ou Site Mobile?</title>
		<link>http://devmaker.com.br/aplicativo-ou-site-mobile/</link>
		<comments>http://devmaker.com.br/aplicativo-ou-site-mobile/#respond</comments>
		<pubDate>Mon, 13 Nov 2017 23:00:38 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[aplicativo]]></category>
		<category><![CDATA[cenário digital no brasil]]></category>
		<category><![CDATA[investir em aplicativo]]></category>
		<category><![CDATA[mundo mobile]]></category>
		<category><![CDATA[quanto custa um aplicativo]]></category>
		<category><![CDATA[site mobile]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4327</guid>
		<description><![CDATA[<p>O que a sua empresa realmente precisa? Quando analisamos o cenário digital do Brasil e sua previsão de crescimento, principalmente na parte de trafego de dados mobile, não é estranho...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aplicativo-ou-site-mobile/">Aplicativo ou Site Mobile?</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<h5 style="text-align: justify;">O que a sua empresa realmente precisa?</h5>
<p style="text-align: justify;">Quando analisamos o cenário digital do Brasil e sua previsão de crescimento, principalmente na parte de trafego de dados mobile, não é estranho pensar que a sua empresa precisa entrar nessa mudança.</p>
<p style="text-align: justify;">Muitos assumem como verdade que para fazer parte desse mundo mobile precisam ter um aplicativo para chamar de seu. Mas será que essa é realmente a solução que a sua empresa precisa?</p>
<p style="text-align: justify;">Sabendo dessa dúvida, nós da DevMaker separamos algumas perguntas que te ajudam a determinar no que  investir.</p>
<p style="text-align: justify;"><a href="http://devmaker.com.br/wp-content/uploads/2017/11/App-Ou-Não.png" rel="attachment wp-att-4328"><img class="aligncenter size-full wp-image-4328" src="http://devmaker.com.br/wp-content/uploads/2017/11/App-Ou-Não.png" alt="App Ou Não" width="500" height="1152" /></a></p>
</div>
</div>
<p style="text-align: justify;">
</div>
<div class="page" title="Page 2">
<div class="layoutArea">
<div class="column">
<h4 style="text-align: justify;">Mas qual é a diferença entre um e outro?</h4>
<p style="text-align: justify;">Um aplicativo atende ao menos uma dessas funções: tornar a vida mais fácil, mais barata e/ou mais divertida. <strong>As pessoas usam seus celulares para ganhar ou matar o tempo.</strong> Seu aplicativo para ter sucesso ao menos um desses objetivos, sempre de maneira a trazer algum tipo de benefício.</p>
<p style="text-align: justify;">Já 0 site mobile é muito próximo do site responsivo, ou seja, uma versão simplificada do seu site corporativo. Essa é uma opção  quando a sua ideia não pede uma interação com o usuário.</p>
<p style="text-align: justify;">Quer saber mais sobre esse assunto? A gente te ajuda! Acesse a página <a href="http://www.criarapp.com.br" target="_blank">criarapp.com.br</a> e confira o teste que a nossa equipe montou, que te ajudará a ter uma noção inicial do quanto você precisa investir parar tirar a sua ideia do papel.</p>
</div>
</div>
</div>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/aplicativo-ou-site-mobile/">Aplicativo ou Site Mobile?</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/aplicativo-ou-site-mobile/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Qual é a diferença entre aplicativo e sistema web?</title>
		<link>http://devmaker.com.br/qual-e-diferenca-entre-aplicativo-e-sistema-web/</link>
		<comments>http://devmaker.com.br/qual-e-diferenca-entre-aplicativo-e-sistema-web/#respond</comments>
		<pubDate>Thu, 09 Nov 2017 23:00:22 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Dicas]]></category>
		<category><![CDATA[Android]]></category>
		<category><![CDATA[ios]]></category>
		<category><![CDATA[sistema web]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4315</guid>
		<description><![CDATA[<p>Muitas desenvolvedoras de aplicativos na hora de montar seu orçamento perguntam: você vai querer um aplicativo que rode em Android, IOS ou via Web? Você sabia que essa pergunta é...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/qual-e-diferenca-entre-aplicativo-e-sistema-web/">Qual é a diferença entre aplicativo e sistema web?</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p style="text-align: justify;">Muitas desenvolvedoras de aplicativos na hora de montar seu orçamento perguntam: você vai querer um aplicativo que rode em Android, IOS ou via Web?</p>
<p style="text-align: justify;">Você sabia que essa pergunta é decisiva para o planejamento do desenvolvimento da sua ideia?</p>
<p style="text-align: justify;">Cada um desses tipos de aplicativo que estão disponíveis no mercado hoje, exigem um tipo de programação diferente, um <em>layout</em> diferente, uma experiência diferente&#8230; Enfim um desenvolvimento próprio.</p>
<p style="text-align: justify;">Nesse artigo a equipe DevMaker reuniu algumas das principais <strong>diferenças entre os aplicativos nativos (planejados para rodar em uma <em>app store</em>) e  os  sistemas web</strong>.</p>
<p style="text-align: justify;">Os aplicativos nativos são desenhados desde o começo para rodar em uma determinada plataforma, como Android ou IOS, portanto a empresa que for desenvolver consegue mapear e definir em sua equipe quais são os programadores especialistas em cada linguagem. Justamente por ser um aplicativo pensado para um sistema próprio, o <strong>nativo é mais rápido, confiável, com um melhor desempenho, maior tempo de utilização por parte dos usuários e tem a possibilidade de funcionar sem uma conexão com a <em>internet</em>.</strong> Sem falar que dentro desse ambiente próprio, fica mais fácil de pensar e criar uma experiência para o usuário. É dessa forma que foram desenhados e pensados os aplicativos como <em>Facebook, Twitter, Instagram</em> e tantos outros que usamos no nosso dia a dia.</p>
<p style="text-align: justify;">       <a href="http://devmaker.com.br/wp-content/uploads/2017/11/office-620822_1920.jpg" rel="attachment wp-att-4316"><img class="aligncenter wp-image-4316" src="http://devmaker.com.br/wp-content/uploads/2017/11/office-620822_1920.jpg" alt="office-620822_1920" width="681" height="452" srcset="http://devmaker.com.br/wp-content/uploads/2017/11/office-620822_1920-300x199.jpg 300w, http://devmaker.com.br/wp-content/uploads/2017/11/office-620822_1920-768x510.jpg 768w, http://devmaker.com.br/wp-content/uploads/2017/11/office-620822_1920-1024x680.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2017/11/office-620822_1920.jpg 1920w" sizes="(max-width: 681px) 100vw, 681px" /></a></p>
<p style="text-align: justify;">Já o  sistema web não chega a ser um aplicativo real. Na verdade ele está muito mais próximo de ser um site desenvolvido para dispositivos móveis do que um <em>app</em> em si. Assim como o aplicativo nativo, ele pode possuir uma boa experiência para o usuário, mas roda principalmente nos navegadores de <em>web</em> como Google Chrome, Safari, Mozila Firefox, portanto precisa da conexão a <em>internet</em> para funcionar. Apesar de não ocupar espaço na memória do seu aparelho móvel, eles acabam sendo mais lentos justamente por não estarem integrados ao seu sistema operacional. O sistema web é uma ótima escolha quando o <strong>seu objetivo é apenas apresentar o conteúdo ou ter uma presença <em>online</em> no mundo <em>mobile</em>, principalmente pela simplicidade de sua programação e adaptabilidade a diversas plataformas</strong>, como <em>smartphones, tablets etc</em>. Bons exemplos de empresas que fizeram sistemas mobiles são Google, Hollister e Netshoes.</p>
<p style="text-align: justify;">Se a sua ideia engloba ter esses dois tipos de aplicativo, não tem problema, pois a mesma empresa pode ter tanto um aplicativo nativo quanto um sistema de web. Só lembre-se que isso pode influenciar no preço por conta da quantidade de profissionais que estarão envolvidos nesse projeto.</p>
<p style="text-align: justify;">Quer fazer um orçamento e saber quanto custa criar um aplicativo? <a class="no-ajaxy" href="http://materiais.devmaker.com.br/quanto-custa-criar-um-aplicativo" target="_blank">Clique aqui e faça o nosso teste para descobrir quanto custa criar um aplicativo agora mesmo.</a></p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/qual-e-diferenca-entre-aplicativo-e-sistema-web/">Qual é a diferença entre aplicativo e sistema web?</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/qual-e-diferenca-entre-aplicativo-e-sistema-web/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Infográfico: 7 Motivos para a sua empresa ter um mobile app</title>
		<link>http://devmaker.com.br/7-motivos-para-sua-empresa-ter-um-mobile-app/</link>
		<comments>http://devmaker.com.br/7-motivos-para-sua-empresa-ter-um-mobile-app/#respond</comments>
		<pubDate>Tue, 25 Oct 2016 19:34:19 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4150</guid>
		<description><![CDATA[<p>“Será que já inventaram um aplicativo para isso?” Provavelmente você já deve ter escutado essa frase diversas vezes, a ponto de ela já estar se tornando parte do seu cotidiano....</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/7-motivos-para-sua-empresa-ter-um-mobile-app/">Infográfico: 7 Motivos para a sua empresa ter um mobile app</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">“Será que já inventaram um aplicativo para isso?” </span></p>
<p><span style="font-weight: 400;">Provavelmente você já deve ter escutado essa frase diversas vezes, a ponto de ela já estar se tornando parte do seu cotidiano. São raros os momentos em que uma pessoa não está conectada a um dispositivo móvel, inclusive crianças, que mal aprenderam a falar, mas já sabem mexer com tanta tecnologia. </span></p>
<p><span style="font-weight: 400;">A expectativa é que isso se torne cada vez mais comum.  </span></p>
<p><span style="font-weight: 400;">Este é o momento ideal para você estar se questionando se está na hora de sua empresa ter um mobile app e, sem dúvidas, a resposta é sim! Confira nosso infográfico com algumas informações. </span></p>
<p><img class="aligncenter size-full wp-image-4173" src="http://devmaker.com.br/wp-content/uploads/2016/09/Infográfico-7-motivos-2.jpg" alt="infografico-7-motivos" width="1000" height="3700" srcset="http://devmaker.com.br/wp-content/uploads/2016/09/Infográfico-7-motivos-2-768x2842.jpg 768w, http://devmaker.com.br/wp-content/uploads/2016/09/Infográfico-7-motivos-2.jpg 1000w" sizes="(max-width: 1000px) 100vw, 1000px" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Como um app pode me ajudar?</b></h2>
<p><span style="font-weight: 400;">Simplesmente pelo fato de você estar criando mais um ponto de contato com o seu público-alvo, ou quem sabe, um canal que apresente muito mais informações do seu negócio para o mercado. </span></p>
<p><span style="font-weight: 400;">Mas, antes de desenvolver um app, é necessário analisar e estudar como que você quer com esse meio. Nesta caso, procurar uma empresa especializada e renomada em mobile app é fundamental. Não esqueça que o barato pode sair caro e o maior prejudicado pode acabar sendo você. </span></p>
<p><span style="font-weight: 400;">Nós da </span><a href="http://devmaker.com.br/"><span style="font-weight: 400;">DevMaker</span></a><span style="font-weight: 400;"> certamente podemos te ajudar.</span></p>
<h2><b>O que um mobile app pode fazer pela minha empresa?</b></h2>
<p><span style="font-weight: 400;">Já pensou como a fidelização dos seus clientes irá aumentar depois de você apresentar a eles uma nova ferramenta? Isso porque, quando perceberem que, ao precisar dos serviços da sua empresa irão conseguir entrar em contato facilmente, economizando tempo e esclarecendo dúvidas, dão muito mais credibilidade a sua marca.</span></p>
<p><span style="font-weight: 400;">Acima de tudo, o negócio enriquece as suas relações, afinal, um aplicativo é capaz de aumentar o engajamento, além de manter a sua marca na tela do mobile do seu usuário.</span></p>
<p><b><b>a) O Brasil está na frente do ranking de usuários</b></b></p>
<p><span style="font-weight: 400;">Os brasileiros usam, em média, 29 aplicativos por mês, sendo assim, se enquadram entre as pessoas que mais usam aplicativos em todo o mundo.</span></p>
<p><b> b) </b><b>A comodidade dos smartphones</b></p>
<p><span style="font-weight: 400;">Aqui no Brasil, mais de 80% das pessoas utilizam o celular para ler e-mails, enquanto 57% usam o aparelho para buscar informações. Além disso, a facilidade aliada com o conforto é uma das principais vantagens de um smartphone para os brasileiros. </span></p>
<p><em><span style="font-weight: 400;">Os outros cinco motivos envolvem quesitos como engajamento, acessos e mercado. Baixe o infográfico para mais detalhes.</span></em></p>
<h2><b>O seu destaque no mercado pode estar a um passo</b></h2>
<p><span style="font-weight: 400;">Um aplicativo é mais um canal de marketing, distribuição e promoção. Sabemos que o mercado está a cada dia mais concorrido e, seguramente, com mais essa ferramenta fazendo parte do seu projeto de negócios, é muito provável que você saia na frente nessa competição. </span></p>
<p><span style="font-weight: 400;">Nos dias atuais, não basta apenas ter um blog ou uma página em alguma rede social, como o Facebook. É preciso mais, é preciso ir além. E com o desenvolvimento de um mobile app, a sua empresa automaticamente adquire um caráter inovador, afinal, apresenta à concorrência um perfil investidor e estratégico.</span></p>
<h2><b>Quem pode me ajudar com o meu futuro aplicativo?</b></h2>
<p><span style="font-weight: 400;">Como já dissemos acima, é bastante importante buscar uma empresa que entenda sobre desenvolvimento de aplicativos . Mais do que te guiar, ela deverá definir todos os pontos crucias neste processo, lançando o seu app com um propósito e com metas definidas. </span></p>
<p><span style="font-weight: 400;">Além disso, é muito importante saber que, para lançar um aplicativo, existe todo um plano com os objetivos detalhados. Isso porque, inovar sem ter uma base analisada profissionalmente, pode não trazer os resultados esperados, com baixo número de downloads, por exemplo. </span></p>
<p><span style="font-weight: 400;">Agora que você conhece todos os motivos, não tem mais tempo a perder. Está com dúvidas, quer conhecer o processo ou até mesmo realizar o seu orçamento? </span><a href="http://devmaker.com.br/orcamento/"><span style="font-weight: 400;">Clique aqui e entre em contato com a DevMaker</span></a><span style="font-weight: 400;">, iremos desenvolver um projeto que corresponda à sua necessidade.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/7-motivos-para-sua-empresa-ter-um-mobile-app/">Infográfico: 7 Motivos para a sua empresa ter um mobile app</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/7-motivos-para-sua-empresa-ter-um-mobile-app/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
