<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Redução de custos &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/reducao-de-custos/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Um app para cortar o uso de papel na empresa</title>
		<link>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/</link>
		<comments>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/#respond</comments>
		<pubDate>Tue, 19 Jun 2018 14:38:55 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Redução de custos]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4390</guid>
		<description><![CDATA[<p>Certa vez, um executivo brasileiro disse que “custo é como unha: tem de cortar toda semana”. Uma dessas “unhas” é a redução de papel na empresa. Substituir o papel por informação digital...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/">Um app para cortar o uso de papel na empresa</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159.jpg" rel="attachment wp-att-4397"><img class="alignleft wp-image-4397 size-large" src="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-1024x654.jpg" alt="app-blur-business-221159" width="1024" height="654" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-300x192.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-768x490.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/app-blur-business-221159-1024x654.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<p>Certa vez, um executivo brasileiro disse que “custo é como unha: tem de cortar toda semana”.<br />
Uma dessas “unhas” é a redução de papel na empresa. Substituir o papel por informação digital reduz comprovadamente o custo operacional e aumenta a eficiência das organizações.<br />
Segundo o Paperless Project, projeto de uma entidade global de sustentabilidade, a troca do papel pelo digital pode economizar em <a href="http://businessworld-usa.com/cutting-costs-in-financial-services-starts-with-paper/">até 40% o tempo</a> do funcionário. Em 2015, a Telefónica, na Europa, completou a transição, tornando-se uma empresa 100% digital – paperless, seus escritórios não usam mais papel.<br />
À redução de papel, há muitos aplicativos genéricos no mercado. A executiva Lora Milhova, gestora estratégica da transição digital na Telefónica, listou alguns dos apps utilizados então, como o aplicativo de assinatura digital da Adobe, e também o Evernote (app para tomar notas) e o BoxNote (app para brainstorming). O artigo de Lora pode ser lido <a href="https://www.workwiseuk.org/blog/2015/6/22/paperless-office-ten-top-apps-to-help-you- ditch-paper-by-lora-milhova-strategy-manager-at-telefonica">aqui</a>.<br />
Porém, cada empresa possui características próprias e desafios particulares na luta contra o papel. Na DevMaker, nós construímos para um cliente, recentemente, um sistema web cirurgicamente desenhado às suas demandas nesta questão. Para a Uningressos, nós criamos o <strong>UNIngresso</strong>, aplicação que usa um site como interface, que reduziu o <a href="http://devmaker.com.br/portfolio/uningresso/">gasto de papel</a> e aumentou a eficiência da empresa no atendimento ao público.</p>
<h2 style="text-align: center;">&#8220;O sistema representou uma economia gigantesca de papel&#8221;</h2>
<p style="text-align: left;">A Uningressos é especialista em serviços de venda de ingressos a eventos, shows e feiras.<br />
O aplicativo criado possui um leitor de código de barras, que checa digitalmente os bilhetes<br />
dos espectadores/ clientes nas filas de entrada dos eventos organizados pela empresa. O<br />
aplicativo não só representou uma economia gigantesca de papel. Aumentou a satisfação do<br />
cliente da Uningressos, pois o tempo de espera, nas filas dos eventos, foi drasticamente<br />
reduzido.<br />
Nosso objetivo é criar um aplicativo customizado às necessidades da sua companhia.<br />
Uma dessas necessidades é a redução de custos e a transição do papel ao digital.<br />
Ah, para finalizar: talvez você tenha ficado curioso em saber quem é o autor da pitoresca<br />
frase sobre unhas e custos.<br />
Ela é muitas vezes creditada ao bilionário investidor Jorge Paulo Lemann. Mas na<br />
verdade o seu autor é o ex-diretor geral da Lacta e ex-presidente da Brahma e da Ambev<br />
Magim Rodriguez Junior, hoje em dia criador de gado. (Lemann e Magim trabalharam juntos<br />
na fusão da Brahma e da Antarctica, e talvez a confusão venha daí. É um detalhe, claro. Mas<br />
nós somos assim, minuciosos).</p>
<p style="text-align: left;">O que vale dizer é que você não precisa ser assim &#8216;uma Ambev&#8217; para investir num aplicativo para reduzir seus custos. É uma ilusão que só grandes empresas podem se dar ao luxo de criar um aplicativo próprio. O custo de criação de um app é bem mais em conta do que se imagina. Venha falar conosco.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/">Um app para cortar o uso de papel na empresa</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/um-app-para-cortar-o-uso-de-papel-na-empresa/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
