<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Sem categoria &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/sem-categoria-pt/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>App em Destaque: Buscaki, o app que conecta prestadores de serviços e clientes</title>
		<link>http://devmaker.com.br/app-em-destaque-buscaki/</link>
		<comments>http://devmaker.com.br/app-em-destaque-buscaki/#respond</comments>
		<pubDate>Fri, 20 Jul 2018 18:12:39 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Cases]]></category>
		<category><![CDATA[Sem categoria]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4443</guid>
		<description><![CDATA[<p>Não há estatísticas que comprovem; porém, uma coisa bem sabida é que só uma ínfima parcela da população guarda cartões de visita (do encanador, do eletricista, da doceira), e quando...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/app-em-destaque-buscaki/">App em Destaque: Buscaki, o app que conecta prestadores de serviços e clientes</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/07/inicial.png" rel="attachment wp-att-4447"><img class="aligncenter size-full wp-image-4447" src="http://devmaker.com.br/wp-content/uploads/2018/07/inicial.png" alt="inicial" width="429" height="466" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/inicial-276x300.png 276w, http://devmaker.com.br/wp-content/uploads/2018/07/inicial.png 429w" sizes="(max-width: 429px) 100vw, 429px" /></a>Não há estatísticas que comprovem; porém, uma coisa bem sabida é que só uma ínfima parcela da população guarda cartões de visita (do encanador, do eletricista, da doceira), e quando precisa dos préstimos destes profissionais&#8230; cadê o cartão? O Buscaki é um aplicativo feito para resolver situações assim. É um app que nós desenvolvemos para iOS e Android que <strong>conecta o cliente com prestadores de serviço</strong>. Por meio do <strong><a href="http://buscaki.com">Buscaki</a></strong>, você encontra profissionais em vinte categorias (e mais de duzentos tipos de serviços prestados) próximos a você.</p>
<p>Você precisa de um jardineiro, pintor ou de um mecânico? Acesse o Buscaki.<a href="http://devmaker.com.br/wp-content/uploads/2018/07/chat.png" rel="attachment wp-att-4444"><img class="aligncenter size-full wp-image-4444" src="http://devmaker.com.br/wp-content/uploads/2018/07/chat.png" alt="chat" width="539" height="584" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/chat-277x300.png 277w, http://devmaker.com.br/wp-content/uploads/2018/07/chat.png 539w" sizes="(max-width: 539px) 100vw, 539px" /></a></p>
<p>O Buscaki possibilita não só que você descubra o profissional, mas possa falar com ele <strong>por mensagem ou por chat</strong>. Na hora.</p>
<p>O Buscaki foi construído a partir de ferramentas de geolocalização. Ou seja, quando o cliente faz a busca por um profissional, os primeiros nomes que aparecem para ele são os <strong>mais próximos à sua residência</strong>. O usuário pode cadastrar mais de um endereço no Buscaki. Por exemplo, o usuário pode ter no cadastro a sua residência na cidade, e também o da casa na praia, ou do sítio no interior. E buscar os profissionais mais próximos ao endereço no qual precisará dos serviços.<a href="http://devmaker.com.br/wp-content/uploads/2018/07/agendamento.png" rel="attachment wp-att-4446"><img class="aligncenter size-full wp-image-4446" src="http://devmaker.com.br/wp-content/uploads/2018/07/agendamento.png" alt="agendamento" width="538" height="584" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/agendamento-276x300.png 276w, http://devmaker.com.br/wp-content/uploads/2018/07/agendamento.png 538w" sizes="(max-width: 538px) 100vw, 538px" /></a></p>
<p>A ideia surgiu ao idealizador do app, o empreendedor Felipe Reis, do seu desgosto de, todos os dias, ver a sua caixa de correspondência cheia de panfletos e cartões de visitas. Começou uma pesquisa informal com pessoas conhecidas: quais delas guardavam estes materiais publicitários de profissionais? A resposta: nenhuma. &#8220;O profissional faz um folder ou cartão de visita, gasta cinquenta, cem reais, mas o seu retorno é muitíssimo baixo&#8221;, diz Felipe Reis. Com a ideia germinando, ela tomou corpo, definitivamente, quando Reis consultou um prestador de serviços gerais, se ele anunciaria num app como o idealizado. &#8220;Na hora&#8221;, foi a resposta do profissional. Nascia assim o Buscaki, que já tem cadastrados 240 profissionais. Por enquanto, ele está disponível em Curitiba e região metropolitana. O app possui três planos aos prestadores de serviço: mensal, semestral e anual.<a href="http://devmaker.com.br/wp-content/uploads/2018/07/avaliação.png" rel="attachment wp-att-4445"><img class="aligncenter size-full wp-image-4445" src="http://devmaker.com.br/wp-content/uploads/2018/07/avaliação.png" alt="avaliação" width="537" height="582" srcset="http://devmaker.com.br/wp-content/uploads/2018/07/avaliação-277x300.png 277w, http://devmaker.com.br/wp-content/uploads/2018/07/avaliação.png 537w" sizes="(max-width: 537px) 100vw, 537px" /></a></p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/app-em-destaque-buscaki/">App em Destaque: Buscaki, o app que conecta prestadores de serviços e clientes</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/app-em-destaque-buscaki/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
