<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Watson &#8211; Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/category/watson/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 22 Aug 2018 17:25:23 +0000</lastBuildDate>
	<language>pt-BR</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</title>
		<link>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/</link>
		<comments>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/#respond</comments>
		<pubDate>Fri, 22 Jun 2018 18:21:14 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Advocacia]]></category>
		<category><![CDATA[Android]]></category>
		<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Watson]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4420</guid>
		<description><![CDATA[<p>Imagens: Pixabay/ Arte: Estúdio AO Em 2016, a maior contratação da Baker &#38; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" rel="attachment wp-att-4426"><img class="aligncenter size-full wp-image-4426" src="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png" alt="AI" width="1019" height="689" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-300x203.png 300w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1-768x519.png 768w, http://devmaker.com.br/wp-content/uploads/2018/06/AI-1.png 1019w" sizes="(max-width: 1019px) 100vw, 1019px" /></a></p>
<h6 style="text-align: right;">Imagens: Pixabay/ Arte: Estúdio AO</h6>
<p>Em 2016, a maior contratação da Baker &amp; Hostetler, respeitada firma de advocacia norte-americana sediada em Cleveland, com escritórios em diversas cidades dos EUA, foi o Ross.<br />
Ross aprimorou a pesquisa jurídica da firma, fornecendo as respostas mais relevantes às questões levantadas pelos advogados da B&amp;H, e não as centenas – ou milhares – de respostas possíveis que uma pesquisa tradicional (seja em alfarrábios ou pelo Google) elencaria. Ross também começou a monitorar constantemente os litígios em curso nos tribunais, notificando os colegas sobre decisões judiciais recentes que pudessem afetar seus casos.<br />
Ross não é advogado. <a href="https://rossintelligence.com/">Ross</a> é um robô, desenvolvido a partir da plataforma do Watson da IBM. Os advogados dos escritórios da B&amp;H podem consultá-lo por aplicativo em seus smartphones. O Brasil também já tem o seu “Ross”: é o <a href="https://veja.abril.com.br/economia/primeiro-advogado-robo-do-pais-acelera-processos/">ELI</a>.<br />
A Inteligência Artificial representa um ganho de produtividade aos escritórios de advocacia. Segundo a Veja, uma das vantagens do robô no escritório é a da redução de prazos para montagem de processos.</p>
<blockquote>
<h2>&#8220;Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico&#8221;</h2>
</blockquote>
<p>Muitos advogados veem com suspeita e temor a entrada da Inteligência Artificial em seu campo de atuação. Mas são sentimentos infundados. Robôs como o Ross e o ELI fazem o trabalho braçal da profissão, liberando os jurisconsultos às atividades propriamente intelectuais da atividade jurídica, bem como o cultivo da relação com o cliente. O advogado-robô é uma ferramenta que veio para ficar no mercado.<br />
O desenvolvimento de apps de Inteligência Jurídica é uma realidade.<br />
A DevMaker faz parte desta realidade. Nossa parceria com a IBM possibilita que desenvolvamos aplicativos inteligentes ao setor jurídico: aplicativos construídos com a plataforma de Inteligência Artificial do Watson. Muito provavelmente um app estará no rol de contratações dos departamentos jurídicos das empresas num futuro bem próximo.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">Robôs e apps de Inteligência Artificial estão chegando ao setor jurídico</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>DevMaker e IBM: a parceria que coloca o Watson em nossos apps</title>
		<link>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/</link>
		<comments>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/#respond</comments>
		<pubDate>Wed, 20 Jun 2018 18:02:21 +0000</pubDate>
		<dc:creator><![CDATA[administrador]]></dc:creator>
				<category><![CDATA[Aplicativos]]></category>
		<category><![CDATA[Inteligência Artifical]]></category>
		<category><![CDATA[Watson]]></category>

		<guid isPermaLink="false">http://devmaker.com.br/?p=4412</guid>
		<description><![CDATA[<p>Imagem: Pexels O Watson da IBM dispensa apresentações. A plataforma de Inteligência Artificial tem sido adotada com velocidade crescente no mundo dos negócios. E a DevMaker está utilizando o Watson...</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/">DevMaker e IBM: a parceria que coloca o Watson em nossos apps</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948.jpg" rel="attachment wp-att-4413"><img class="aligncenter size-large wp-image-4413" src="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-1024x623.jpg" alt="abstract-ai-art-355948" width="1024" height="623" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-300x182.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-768x467.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/abstract-ai-art-355948-1024x623.jpg 1024w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;"><em>Imagem: Pexels</em></h6>
<p style="text-align: left;">O Watson da IBM dispensa apresentações. A plataforma de Inteligência Artificial tem sido adotada com velocidade crescente no mundo dos negócios. E a DevMaker está utilizando o Watson no desenvolvimento de aplicativos para smartphone.<br />
Nós podemos construir o seu app com a capacidade de Inteligência Artificial do Watson. Isso porque a DevMaker se tornou parceira de negócios da IBM. O programa PartnerWorld da gigante de computação nos deu acesso à IBM Cloud, as ferramentas em nuvem para o desenvolvimento otimizado e acelerado de aplicativos móveis. Nossa equipe recebeu treinamento no uso das ferramentas na sede da IBM em Curitiba. O coração da IBM Cloud – ou melhor, o seu cérebro – é o Watson.</p>
<blockquote>
<h2>&#8220;Nós podemos construir o seu app com a capacidade de Inteligência Artificial do Watson. Isso porque a DevMaker se tornou parceira de negócios da IBM&#8221;</h2>
</blockquote>
<p>O Watson foi criado a partir do programa DeepQA da IBM (algo como “Pergunta &amp; Resposta Profunda”), entre 2007 e 2011. Ele é, como indica o nome do programa, um sistema de computador de perguntas e respostas. Foi desenvolvido com a capacidade de distinguir o que está sendo perguntado, e de dar à pergunta uma resposta precisa. Ele também tem o poder de avaliar a probabilidade da resposta dada ser realmente a correta. Um detalhe importante: quanto mais o Watson é alimentado por dados, e mais os analisa, mais aumenta a sua calibragem e sintonia fina nas respostas. O uso aperfeiçoa a sua capacidade de resposta.<br />
Nós gostaríamos de salientar um dos destaques do Watson, o seu sistema de reconhecimento visual.<br />
O <strong>IBM Watson™ Visual Recognition</strong> é um sistema que analisa imagens fotográficas e, a partir delas, dá diagnósticos sobre uma situação concreta ilustrada pela imagem. Por exemplo, aplicativos alimentados pelo Watson estão auxiliando firmas de engenharia na identificação do grau de oxidação, corrosão e ferrugem de estruturas de ferro, como pontes. O usuário tira, com o seu smartphone, uma foto da ponte (para ficar no exemplo), arrastando a foto para dentro do aplicativo. O Watson toma a imagem, a divide em várias áreas retangulares menores, e então analisa cada uma destas áreas. Como num mapa de calor, o aplicativo diagnostica os graus de comprometimento da ponte, como na foto abaixo: as áreas em vermelho mais intenso são as mais afetadas pela corrosão.</p>
<p><a href="http://devmaker.com.br/wp-content/uploads/2018/06/rust.jpg" rel="attachment wp-att-4414"><img class="aligncenter size-large wp-image-4414" src="http://devmaker.com.br/wp-content/uploads/2018/06/rust-1024x576.jpg" alt="rust" width="1024" height="576" srcset="http://devmaker.com.br/wp-content/uploads/2018/06/rust-300x169.jpg 300w, http://devmaker.com.br/wp-content/uploads/2018/06/rust-768x432.jpg 768w, http://devmaker.com.br/wp-content/uploads/2018/06/rust-1024x576.jpg 1024w, http://devmaker.com.br/wp-content/uploads/2018/06/rust.jpg 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
<h6 style="text-align: right;"><em>Imagem: Divulgação IBM</em></h6>
<p>Esta é só uma possibilidade do IBM Watson™ Visual Recognition. Ele pode ser usado na análise de produtos perecíveis numa rede de distribuição. Pode auxiliar clínicas médicas na análise de imagens. Enfim&#8230;<br />
Para cada demanda específica nós aqui na DevMaker podemos desenvolver aplicativos correspondentes com o Watson. Firmas do setor jurídico, por exemplo, estão se beneficiando enormemente de aplicativos com o Watson – mas esse é assunto do nosso <strong><a href="http://devmaker.com.br/robos-e-apps-de-inteligencia-artificial-estao-chegando-ao-setor-juridico/">próximo post</a></strong>.</p>
<p>O post <a rel="nofollow" href="http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/">DevMaker e IBM: a parceria que coloca o Watson em nossos apps</a> apareceu primeiro em <a rel="nofollow" href="http://devmaker.com.br">Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://devmaker.com.br/devmaker-e-ibm-parceria-que-coloca-o-watson-em-nossos-apps/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
