<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comentários sobre Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.</title>
	<atom:link href="http://devmaker.com.br/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://devmaker.com.br</link>
	<description>Soluções mobile para sua empresa. Conheça um pouco sobre nosso trabalho e o que podemos oferecer.</description>
	<lastBuildDate>Wed, 13 Dec 2017 17:16:00 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.17</generator>
	<item>
		<title>Comentário sobre 7 métricas para um aplicativo de sucesso por Meg Rodrigues</title>
		<link>http://devmaker.com.br/7-metricas-para-um-aplicativo-de-sucesso/#comment-1</link>
		<dc:creator><![CDATA[Meg Rodrigues]]></dc:creator>
		<pubDate>Wed, 13 Dec 2017 17:16:00 +0000</pubDate>
		<guid isPermaLink="false">http://devmaker.com.br/?p=4347#comment-1</guid>
		<description><![CDATA[Olá, criei um aplicativo com ionic de jogo da memória onde você pode criar os próprios tabuleiros, compartilho com vcs, está na playstore e é gratuíto (Jogo da memória i9 - Crie o seu!)
https://play.google.com/store/apps/details?id=com.i9.memoriav1]]></description>
		<content:encoded><![CDATA[<p>Olá, criei um aplicativo com ionic de jogo da memória onde você pode criar os próprios tabuleiros, compartilho com vcs, está na playstore e é gratuíto (Jogo da memória i9 &#8211; Crie o seu!)<br />
<a href="https://play.google.com/store/apps/details?id=com.i9.memoriav1" rel="nofollow">https://play.google.com/store/apps/details?id=com.i9.memoriav1</a></p>
]]></content:encoded>
	</item>
</channel>
</rss>
